.applyColor {
    /* !important because sometimes default styling has stronger matching, but if you apply this it's really meant to override any other styling */
    background-color: var(--color-background) !important;
    color: var(--color-foreground) !important;
    border: 1px var(--color-border-style) var(--color-foreground);
}

.colorForceNoBorder {
    border: 1px solid var(--color-background);
}

.colorForceBorder {
    border: 1px solid var(--color-foreground);
}

.colorSwatchRoot {
    display: flex;
    flex-direction: column;
    padding: 3px 4px;
    width: 90px;
    height: 30px;
    margin: 2px;
    overflow: hidden;
    text-align: center;
    /* selection obscures the color*/
    user-select: none;
    border-radius: 4px;
    font-size: 14px;

    align-items: center;
    justify-content: center;

}

.colorSwatchRoot.size_small {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}



.colorSwatchRoot>* {
    flex-grow: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorSwatchRoot.spacer {
    opacity: 0;
}

.colorPaletteGridRoot .row {
    display: flex;
}

.paletteeditor li {
    display: flex;
}

.paletteeditor .controlRow {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
}

.paletteeditor .caption {
    width: 120px;
    text-align: right;
    font-size: 12px;
}

.paletteeditor .MuiButton-root {
    border: 1px solid #8888;
    padding: 0;
    min-width: 40px;
}

.paletteeditor .MuiButton-root.selected {
    border: 2px solid #f00;
}

.paletteGenRoot {}

.paletteGenRoot>.controlSection {
    border: 2px solid #0008;
    margin: 8px 0;
    display: flex;

}

.paletteGenRoot>.controlSection>.caption {
    background-color: #0002;
    font-size: 18px;
    width: min-content;
}

.colorPaletteListRoot {
    --preview-bg: "white";
    --preview-fg: "black";
    background-color: var(--preview-bg);
    color: var(--preview-fg);
}

.colorPaletteGridRoot {
    border-bottom: 4px solid #0002;
    margin: 12px;
    padding: 12px;
}