/* as a top-level card */
.contentSection.filterControls,
.filterControlsContainer.inCard {
    box-shadow: none;
    min-width: 450px;
    padding-bottom: 0;
    margin: 10px 0px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

/* inside a card */
.filterControlsContainer.inCard>.content {
    padding: 2px 15px;
}

@keyframes progressAnimation {
    from {
        background-position: 100% 0;
    }

    to {
        background-position: 0 0;
    }
}

.filterControlsContainer .queryProgressLine {
    height: 4px;
    background-color: black;
    margin-top: 10px;
    /* Ensures the animation stays within the bounds of the progress line */
    overflow: hidden;
}

.queryProgressLine.loading {
    /*animation to indicate loading progress*/
    background: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    animation: progressAnimation 2s linear infinite;
}

.filterControlsContainer .filterControls .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ddd;
    color: #888;
    letter-spacing: 1px;
}

.filterControlsContainer .filterControls .row {
    /* add spacing for all filter control rows otherwise it's too stuffy */
    margin-top: 5px;
}

.filterControlsContainer .filterControls .row.quickFilter {
    display: flex;
}

.filterControlsContainer div.divider {
    height: 1px;
    background-color: #8888;
    margin-top: 8px;
    margin-bottom: 8px;
}

.EventDetail .contentSection.filterControls {
    width: 100%;
}


.filterControlsContainer .filterGroup {
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px; */
    /* border: 1px solid #000; */
}


.filterControlsContainer .filterGroup>.filterGroupHeader {
    display: flex;
    margin-bottom: 8px;
}

.filterControlsContainer .filterGroup .filterGroupLabel {
    color: #000;
    font-weight: bold;
}

.filterChipLabelContainer {
    display: flex;
    align-items: center;
}

.filterChipLabelContainer>.rowCount {
    color: #777;
    font-size: 10px;
    background-color: #eeec;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    border-radius: 3px;
    /* fixed width prevents visual jittering when changing filters */
    width: 30px;
}

.filterGroupOptions {
    display: flex;
}


.filterGroupOptions>.option {
    margin: 0 4px;
    padding: 0 6px;
    background-color: #fff4;
    font-size: 12px;
    color: #888;
    box-sizing: border-box;
    border-radius: 3px;
}

.filterGroupOptions>.option.selected {
    border: 1px dotted #000;
    color: #000;
    background-color: #00f1;
}


.filterGroupOptions>.option .sortFieldName {}

.filterGroupOptions>.option .sortFieldDirection {
    width: 12px;
    color: #444;
    display: flex;
    justify-content: center;
}