ul.mechanicalSelector {
    display: flex;
    padding: 0;
    width: 280px;
    overflow: auto;
    background: linear-gradient(to right, #eeee88, #ffffcc, #eeee88);
    box-shadow: inset 0 0 20px 0 black;
    font-family: var(--ff-mono);
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

ul.mechanicalSelector>li {
    display: flex;
    margin: 0;
    padding: 12px;
    box-shadow: inset 0 0 20px 0 #0003;
}


/* the button on the dashboard */
.globalMetronomeButton {
    /* required to make it vertically center correctly */
    display: flex;
    color: #fff4;
    background-color: #fff2;
    border-radius: 2px;
    margin: 0 6px;
    padding: 4px;
}

.bpmControlsContainer {
    display: flex;
    align-items: center;
}

.metronomeButton {
    opacity: 50%;
    color: #0008;
    margin: 0px 15px;
    padding: 2px 6px;
    border-radius: 6px;
    border: 2px solid #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}



.metronomeButtonContainer.tiny .metronomeButton {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 0;
    /* margin-right: 10px; */
}



.metronomeButton.playing {
    opacity: 100%;

    /* butt up against sync button */
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* color: #84f; */
    /* background-color: #f0f2; */
}





.metronomeIndicator {
    --color1: #ff6;
    --color2: #0f0;
    --color3: #040;
    --duration: .12s;
    --timingfunction: linear;
    border-radius: 50%;
    margin: 0 10px;
    width: 32px;
    height: 32px;
    border: 2px solid #0004;
    box-shadow: 0 0 25px var(--color3);


    /* default animation state */
    background-color: var(--color3);
    box-shadow: 0 0 25px var(--color3);
}



.metronomeButtonContainer.tiny .metronomeIndicator {
    padding: 0;
    border: 0;
    margin: 0;
}


@keyframes MetronomeFlash1 {
    0% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    50% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    100% {
        background-color: var(--color3);
        box-shadow: 0 0 25px var(--color3);
    }
}

@keyframes MetronomeFlash2 {
    0% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    50% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    100% {
        background-color: var(--color3);
        box-shadow: 0 0 25px var(--color3);
    }
}

.metronomeIndicator.tick {
    animation: MetronomeFlash1 var(--duration) var(--timingfunction) forwards;
}

.metronomeIndicator.tock {
    animation: MetronomeFlash2 var(--duration) var(--timingfunction) forwards;
}


.GlobalMetronomeDialog {
    user-select: none;
    touch-action: none;
}

.GlobalMetronomeDialog.ReactiveInputDialog .MuiDialog-container>.MuiPaper-root.MuiDialog-paperFullScreen {
    /* max-width: 360px;
    max-height: 780px; */
    /* touch-action: none; */
}

.GlobalMetronomeDialog .buttonRow {
    display: flex;
    justify-content: center;
}

.GlobalMetronomeDialog .bpmAndTapRow {
    display: flex;
    justify-content: center;
}


.GlobalMetronomeDialog .sliderContainer {
    display: flex;
    justify-content: center;
}

.GlobalMetronomeDialog input {
    margin: 15px;
    font-size: 58px;
    font-weight: bold;
    font-family: var(--ff-mono);
    text-align: center;
    width: 80%;
}

.GlobalMetronomeDialog .metronomeButton {
    flex-grow: 1;
}

@keyframes MetronomeTapFlash1 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}

@keyframes MetronomeTapFlash2 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}

.GlobalMetronomeDialog .tapTempoButton,
.GlobalMetronomeDialog .closeButton,
.GlobalMetronomeDialog .nudge,
.GlobalMetronomeDialog .preset {
    margin: 10px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #88f;
    color: white;
    width: 100px;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GlobalMetronomeDialog .tapTempoButton {
    /* because caption changes, fix the width. */
    width: 150px;
}

/* 
.GlobalMetronomeDialog .closeButton {
    width: min-content;
    padding: 20px;
} */

.GlobalMetronomeDialog .nudge {
    font-size: 40px;
}

.GlobalMetronomeDialog .preset {
    /* display: flex;
    flex-direction: column;
    text-transform: none;

    
    width: unset;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0; */
    margin: 5px;
    background-color: #ccc;
}

.GlobalMetronomeDialog .preset.selected {
    background-color: #88f;
}

.GlobalMetronomeDialog .preset.selected .subtitle {
    color: #bbf;
}

.GlobalMetronomeDialog .nudge:hover,
.GlobalMetronomeDialog .preset:hover,
.GlobalMetronomeDialog .tapTempoButton:hover,
.GlobalMetronomeDialog .closeButton:hover {
    outline: 1px solid black;
}

.GlobalMetronomeDialog .preset .title {
    font-size: 24px;
    color: #eee;
    /* margin-bottom: -5px; */
}

.GlobalMetronomeDialog .preset .subtitle {
    font-size: 12px;
    color: #88f;
    letter-spacing: -.3px;
    white-space: nowrap;
}

.GlobalMetronomeDialog .tapTempoButton.tick {
    animation: MetronomeTapFlash1 .5s forwards;
}

.GlobalMetronomeDialog .tapTempoButton.tock {
    animation: MetronomeTapFlash2 .5s forwards;
}

.GlobalMetronomeDialog .freeButton svg {
    width: 40px;
    height: 40px;
}

.GlobalMetronomeDialog .metronomeButton svg {
    width: 100px;
    height: 100px;
}


.GlobalMetronomeDialog .metronomeIndicator {
    width: 100px;
    height: 100px;
}


.metronomeButtonContainer {
    display: flex;
}

.metronomeButtonContainer .metronomeSyncButton {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    /* but upp against play control */
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    ;

}

.metronomeButtonContainer .metronomeSyncButton:hover {
    background-color: #aaf;
}

.GlobalMetronomeDialog .metronomeButtonContainer .metronomeSyncButton {
    font-size: 32px;
    padding: 0 20px;
    /* margin-left: 30px; */
    text-decoration: none;
}

.GlobalMetronomeDialog .metronomeButtonContainer .metronomeSyncButton:hover {
    text-decoration: none;
}

/* -  --------------------------------- */