.SetlistPlannerPageContent {
    display: flex;
    padding: 10px;
    background-color: white;
    padding-bottom: 200px;
    /* to avoid content being hidden behind the footer */
}

.SetlistPlannerPageContent .nameHeader {
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    color: var(--cm-red);
}

.SetlistPlannerPageContent .MuiAutocomplete-root input {
    background-color: white;
    text-align: left;
    ;
}

.SetlistPlannerDocumentOverviewList {
    margin: 15px;
    padding: 10px;
}

.SetlistPlannerDocumentOverviewGroupItemList {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 900px;
    /* gap: 7px; */
    padding: 10px;
}

.SetlistPlannerDocumentOverviewGroupHeader .title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    /* color: var(--primary-color); */
}

.SetlistPlannerDocumentOverviewGroupHeader .subtitle {
    font-size: 14px;
    /* color: #888; */
}

.SetlistPlannerDocumentOverviewItem {
    border: 1px solid #ddd;
    /* margin: 10px 0; */
    padding: 3px 10px;
    margin: 3px 0;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
}

.SetlistPlannerDocumentOverviewItem.standalone {}

.SetlistPlannerDocumentOverviewItem:hover {
    border: 1px solid #000;
    background-color: #eee;
}

.SetlistPlannerDocumentOverviewItem .name {
    font-weight: bold;
    display: flex;
    font-size: 18px;
}

.SetlistPlannerDocumentOverviewItem .name svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    opacity: 50%;
}

.SetlistPlannerDocumentEditorTabPanel {
    min-width: 900px;
}

.SetlistPlannerDocumentEditorSegment {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.SetlistPlannerDocumentEditorSegment:hover {
    border: 1px solid #000;
    background-color: #eee;
}

.SetlistPlannerDocumentEditorSegment .segmentName,
.SetlistPlannerPageContent .CMTextInputBase.name {
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}


.SetlistPlannerDocumentEditorSong {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.SetlistPlannerDocumentEditorSong:hover {
    border: 1px solid #000;
    background-color: #eee;
}

.SetlistPlannerDocumentEditorAddSong {
    border: 1px solid #ddd;
    background-color: #eee;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
}

/* 
.SetlistPlannerDocumentEditorAddSong input {
    background-color: #fff;
} */

.SetlistPlannerMatrix {
    --song-name-width: 400px;
    --segment-width: 80px;
    --song-length-width: 50px;
    background-color: #eee;
}

.SetlistPlannerMatrix input {
    border: 1px solid #ddd;
    font-family: var(--ff-mono);
    text-align: center;
    /* height: 28px; */
    font-size: 16px;
    background-color: transparent;
}

.SetlistPlannerMatrix .td input {
    width: var(--segment-width);
}

.SetlistPlannerMatrix .tr.header .td input {}

.SetlistPlannerMatrix .td {
    overflow: hidden;
    display: flex;
}

.SetlistPlannerMatrix .tr {
    display: flex;
    flex-direction: row;
}

.SetlistPlannerMatrix .tr.header {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.SetlistPlannerMatrix .tr.header,
.SetlistPlannerMatrix .tr.footer {
    background-color: #eee;
}

.SetlistPlannerMatrix .td.songName {
    width: var(--song-name-width);
    white-space: nowrap;
}

.SetlistPlannerMatrix .td.songLength {
    width: var(--song-length-width);
    white-space: nowrap;
    display: flex;
    font-family: var(--ff-mono);
    justify-content: flex-end;
    padding-right: 3px;
    font-size: 14px;
    opacity: 50%;
}

.SetlistPlannerMatrix .td.songName input {
    width: 50px;
}

.SetlistPlannerMatrix .td.segment {
    width: var(--segment-width);
    white-space: nowrap;
}

.SetlistPlannerMatrix .td.pointAllocationCell.autoFilled {
    opacity: 50%;
    ;
}

.SetlistPlannerMatrix .td.rehearsalTime {
    width: var(--segment-width);
    margin-left: 30px;
}

.SetlistPlannerMatrix .td.balance {
    width: var(--segment-width);
}

.SetlistPlannerMatrix .header .td {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SetlistPlannerMatrix .tr.divider .markdown {
    font-style: italic;
    color: #aaa;
}

.SetlistPlannerMatrix .td.totalPlanBalance input {
    font-weight: bold;
    font-size: 24px;
}

.SetlistPlannerMatrix .footerContainer {
    padding-top: 15px;
    margin-top: 15px;
}

.SetlistPlannerMatrix .dragHandle {
    padding: 4px;
}

.SetlistPlannerMatrix .numberCell {
    display: flex;
    align-items: stretch;
}

.audioPreviewGatewayContainer,
.audioPreviewGatewayContainer .playingIndicatorSpinner {
    display: flex;
    align-items: center;
    justify-content: center;
}


.SetlistPlannerMatrix .audioPreviewGatewayContainer {
    width: 30px;
    opacity: 0.5;
}


.SetlistPlannerColorSchemeEditor {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.SetlistPlannerColorSchemeEditor .ColorGradientEditor {
    display: flex;
    flex-direction: row;
}

.SetlistPlannerColorSchemeEditor .ColorInputControl {
    display: flex;
    flex-direction: column;
    /* background-color: #cfc; */
    margin: 4px;
    align-items: center;
}

.SetlistPlannerColorSchemeEditor .ColorInputControl .inputWrapper {}

.SetlistPlannerColorSchemeEditor .ColorGradientEditor .ColorGradientEditorSwatches {
    display: flex;
    flex-direction: row;
    font-family: var(--ff-mono);
    align-items: center;
    justify-content: center;
}

.SetlistPlannerColorSchemeEditor .ColorGradientEditor .swatch {
    --dim: 30px;
    height: var(--dim);
    width: var(--dim);
    display: flex;
    flex-direction: row;
    font-family: var(--ff-mono);
    align-items: center;
    justify-content: center;
}



.SetlistPlannerColorSchemeEditor .ColorInputControl .textValue,
.SetlistPlannerColorSchemeEditor .ColorInputControl .textValue input {
    font-size: 12px;
    font-family: var(--ff-mono);
    width: 50px;
    border-color: #0001;
}

.SetlistPlannerColorSchemeEditorRow:hover {
    background-color: #eee;

}

.SetlistPlannerMatrix .freeButton.CMSmallButton.DotMenu {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* background-color: #ccc; */
    border-radius: 4px;
    margin: 2px;
    padding: 0 15px;
}

.SetlistPlannerMatrix .freeButton.CMSmallButton.DotMenu:hover {
    background-color: #bbb;
}

.SetlistPlannerMatrix .footerContainer {
    margin-bottom: 30px;
}

.SetlistPlannerAutocompleteProgress {
    opacity: 40%;
    padding: 30px;
    background-color: white;
    border: 7px solid #84f;
    font-family: var(--ff-mono);
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.CostConfigEditor,
.RetainConfigEditor {
    padding: 6px;
    margin: 6px;
    background-color: #eee;
}

.CostConfigEditor input,
.RetainConfigEditor input {
    font-family: var(--ff-mono);
    width: 100px;
    text-align: center;
    font-size: 16px;
    /* padding: 2px; */
    margin: 0 2px;
}

.SetlistPlannerPageContent .PenaltyEditor {
    display: flex;
}

.SetlistPlannerPageContent .AutoSelectingNumberField {}

.setlistPlanLedArray {
    display: flex;
    flex-direction: row;
}

.setlistPlanLed {
    margin: 1px;
    font-family: var(--ff-mono);
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AssociationValue {
    background-color: white;
}