.workflowNodeGroupContainer {
    padding: 3px;
    border: 1px solid var(--color-foreground);
    border-left: 6px solid var(--color-foreground);
    margin: 5px;
}

.workflowNodeContainer {
    padding: 3px;
    margin: 5px;
}

.workflowNodeContainer:hover {
    background-color: #ddd;
}

.workflowNodeContainer .name {
    font-weight: bold;
    font-size: large;
}

.workflowNodeContainer.Irrelevant .name {
    color: #000;
    background-color: #eee;
}

.workflowNodeContainer.Relevant .name {
    color: #888;
    background-color: #eee;
}

.workflowNodeContainer.Activated .name {
    color: #fff;
    background-color: #44c;
}

.workflowNodeContainer.Completed .name {
    color: #888;
    background-color: #000;
}


.react-flow__node-cmNormal {
    color: #888;
    background-color: #fffc;
    border: 2.5px solid #888;
    border-radius: 4px;
    padding: 10px;
}


.react-flow__node-cmNormal.selected {
    color: black;
    border-color: black;
    background-color: #feec;
}

.react-flow__edge-path {
    stroke-width: 2.5px;
}