.workflowNodeGroupContainer {
    padding: 3px;
    border: 1px solid var(--color-background);
    border-left: 6px solid var(--color-background);
    margin: 5px;
}

.workflowNodeContainer {
    padding: 3px;
    margin: 5px;
}

.workflowNodeContainer:hover {
    background-color: #ddd;
}

.workflowNodeContainer .name {
    font-weight: bold;
    font-size: large;
}

.workflowNodeContainer.Irrelevant .name {
    color: #000;
    background-color: #eee;
}

.workflowNodeContainer.Relevant .name {
    color: #888;
    background-color: #eee;
}

.workflowNodeContainer.Activated .name {
    color: #fff;
    background-color: #44c;
}

.workflowNodeContainer.Completed .name {
    color: #888;
    background-color: #000;
}


.react-flow__node-cmNormal {
    color: #888;
    background-color: #fffc;
    border: 2.5px solid #888;
    border-radius: 4px;
    padding: 10px;
}

.react-flow__node-cmGroup {
    border: 0;
    padding: 10px;
}

.react-flow__node-cmGroup .CMFlowGroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

.react-flow__node-cmNormal.selected {
    color: black;
    border-color: black;
    background-color: #feec;
}


.react-flow__edges path {
    stroke-width: 2.5px;
}

.react-flow__handle,
.react-flow__resize-control.handle {
    width: 8px;
    height: 8px;
}