.workflowNodeGroupContainer {
    padding: 3px;
    border: 1px solid var(--color-background);
    border-left: 6px solid var(--color-background);
    margin: 5px;
}

.workflowNodeContainer {
    padding: 3px;
    margin: 5px;
}

.workflowNodeContainer:hover {
    background-color: #ddd;
}

.workflowNodeContainer .name {
    font-weight: bold;
    font-size: large;
}

.workflowNodeContainer.Irrelevant .name {
    color: #000;
    background-color: #eee;
}

.workflowNodeContainer.Relevant .name {
    color: #888;
    background-color: #eee;
}

.workflowNodeContainer.Activated .name {
    color: #fff;
    background-color: #44c;
}

.workflowNodeContainer.Completed .name {
    color: #888;
    background-color: #000;
}


/* ---- REACT FLOW */

.react-flow__node-cmNormal {
    color: #999;
    background-color: #fff8;
    border: 2.5px solid #999;
    border-radius: 4px;
    padding: 10px;
}

.react-flow__node-cmNormal.selected {
    color: black;
    border-color: blue;
    background-color: #fff;
}


.react-flow__node-cmGroup {
    border: 0;
    padding: 10px;
}

.react-flow__node-cmGroup .CMFlowGroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 4px solid var(--color-background);
}

.react-flow__node-cmGroup.selected .CMFlowGroup {
    outline: 2px solid blue;
}

.react-flow__node-cmGroup .CMFlowGroupBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    /* color: var(--color-foreground); */
    background-color: var(--color-background);
    opacity: 10%;
}


.react-flow__resize-control {
    /* put resize handles above all */
    z-index: 200;
}

.react-flow__resize-control.line {
    /* too noisy to show these*/
    border-color: transparent;
}


.react-flow__handle,
.react-flow__resize-control.handle {
    width: 9px;
    height: 9px;
    background-color: black;
}

.react-flow__node-cmGroup.selected .CMFlowGroupBackground {
    opacity: 50%;
}

.CMFlowGroupLabel {
    background-color: var(--color-background);
    color: var(--color-foreground);
}


.react-flow__edge-path {
    stroke: var(--hashed-color);
    stroke-width: 1px;
}

.react-flow__edge.selected .react-flow__edge-path {
    stroke-width: 4px;
    stroke: var(--hashed-color);
}

.react-flow__edge.CMTargetSelected .react-flow__edge-path {
    stroke-width: 2.5px;
}

.react-flow__edge.CMSourceSelected .react-flow__edge-path {
    stroke-width: 1.75px;
}

/* very tired of react flow hiding my elements for no good reason. */
.react-flow__node {
    visibility: visible !important;
}