html,
.mainContentBackdrop {
    /* if we need different bg color for different areas (public/backstage), then */
    background-color: #eee;
}

.CMDashboard2 {
    display: flex;
}


.singlePageSurface {
    /* spacing is already provided by parent layout*/
    /* margin: 20px; */
    padding: 0px 20px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: var(--subtle-elevation);
    max-width: 1500px;
}

/* - CM Big Chip --------------------------------- */
.cmbigchip {
    font-size: 14px;
    padding-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;

}

.cmbigchip>.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    border-radius: 10px;
}

.cmbigchip.strong>.content {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
}

.cmbigchip.weak>.content {
    background-color: var(--weak-color);
    color: var(--weak-contrast-color);
}

.bigChipContainer {
    flex-direction: column;
}

/* - CM Big Status --------------------------------- */
.bigstatus {
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;
}



/* -  --------------------------------- */
.eventPublishedControl {
    display: flex;
}

/* .eventPublishedControl.published {
    background-color: #0802;
}

.eventPublishedControl.unpublished {
    background-color: #f802;
} */

.eventPublishedValue {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}


/* ---------------------------------- */
.eventTypeControl {}

.eventTypeValue {}


/* ---------------------------------- */
.CMChipContainer {
    display: flex;
}

.CMChipContainer .CMChip {
    margin: 1px 1px;
}

.CMChip {
    /* requires an .applyColor- css class for coloring */
    /* background-color: #eee;
    border: 1px solid #ccc;
    color: #888; */

    /* instant transitions for filtering etc feel clunky almost broken or something. the smoothness feels comfy */

    transition: border .1s, color .1s;

    width: min-content;
    max-width: 250px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.CMChip.big {
    padding: 2px;
    border-radius: 19px;
}

.CMChip.big>.chipMain {
    font-size: 16px;
    padding: 1px 12px;
    border-radius: 19px;
}

.CMChip.small {
    padding: 2;
    border-radius: 19px;
}

.CMChip.small>.chipMain {
    font-size: 13px;
    padding: 1px 6px;
    border-radius: 19px;
}

.CMChip>.chipMain>.content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    /* override parent styles*/
    font-weight: normal;
    font-style: normal;
}

.CMChip.selected {
    border: 2px solid black;
}

.CMChip.notselected {
    border: 2px solid transparent;
}

/* general purpose style for interactable things like buttons. avoid selection which is awkward with mouse.
what's the diff between interactable, freeButton, and iconButton? so far not much...
*/
.interactable,
.freeButton {
    user-select: none;
    cursor: pointer;
}

.interactable:hover,
.freeButton:hover {
    /* background-color: rgb(75, 106, 138); */
    color: #08f;
}

.iconButton,
.freeButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}





.debugInspectorOpen {
    user-select: none;
    cursor: pointer;
    border: 2px solid #aa08;
    background-color: #8ff8;
    padding: 2px;
    margin: 2px;
    width: min-content;
    display: inline-flex;
}

/* https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop */
.draggable {
    cursor: move;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}


.EventSongListValueEditor .columnName-name input,
.EventSongListValueViewer .columnName-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* 
this is for use of <InputBase /> as simple text fields. <TextField /> is too bulky sometimes.
in the case of using within Autocomplete, I can't specify my own class names to the InputBase itself. i have to use a wrapper.
so consider these equal:

<div class="cmdbSimpleInputWrapper">
    <input ...>
</div>

or,

<input class="cmdbSimpleInput">

*/
/* 
.cmdbSimpleInputWrapper .MuiInputBase-input .cmdbSimpleInput {
    border-radius: 3px;
    margin: 1px;
    padding: 1px;
    border: 1px solid #0001;
}

.cmdbSimpleInputWrapper .MuiInputBase-input:focus,
.cmdbSimpleInputWrapper .MuiInputBase-input:active {
    border: 1px solid black;
} */

.EventSongListValue .stats {
    margin: 2px;
    /* background-color: #0003; */
    padding: 5px 14px;
    color: #00000096;
}

.songListSongTable {
    width: 1000px;
    /* for small windows this makes it smaller so it doesn't overflow the screen. */
    max-width: 100%;
    border-bottom: 1px solid #ccc;
}


.songListSongTable .tr {
    display: flex;
    /*
     interacts with the max-width:100% of the table to allow the comments field to wrap to the next line
     actually this is very ugly; cannot make wrapping cells to look nice. better to make cells wrap internally like the tag list
    */
    /* flex-wrap: wrap; */
}

.songListSongTable .tbody .tr {
    /* makes icons and things center vertically within cells; looks cleaner */
    align-items: center;
}


.songListSongTable .td,
.songListSongTable .th {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin: 2px 0;
    align-items: center;
    flex-shrink: 0;
}

.songListSongTable .th {
    font-weight: bold;
    background-color: #0001;
    color: #0005;
    border-bottom: 1px solid #0003;
    /* font-style: italic; */
}

.songListSongTable .td:hover {
    background-color: #8881;
}

.songListSongTable .td.dragHandle,
.songListSongTable .th.dragHandle {
    user-select: none;
    width: 30px;
}

.songListSongTable .td.songIndex,
.songListSongTable .th.songIndex {
    width: 44px;
}

.songListSongTable .th.songIndex:hover {
    /* background-color: var(--general-interactable-bgcolor); */
    color: var(--general-interactable-bgcolor);
}

.songListSongTable .td.songIndex {
    font-family: monospace;
}

.songListSongTable .td.icon,
.songListSongTable .th.icon {
    width: 30px;
}

.songListSongTable .tr.invalidItem .td.songIndex,
.songListSongTable .tr.invalidItem .td.dragHandle,
.songListSongTable .tr.invalidItem .td.icon {
    color: #0002;
}

.songListSongTable .tr.existingItem {
    border-bottom: 1px dotted #0002;
}

.songListSongTable .td.icon {
    color: #0005;
}

.songListSongTable .td.icon svg {
    height: 20px;
}

.songListSongTable .td.songName,
.songListSongTable .th.songName {
    /* flex-grow: 1; */
    width: 420px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;

}

.songListSongTable .td.songName .cmdbSimpleInput {
    font-weight: bold;
    padding: 0;
}

.songListSongTable .td.length,
.songListSongTable .th.length {
    width: 80px;
}

.songListSongTable .td.length {
    font-family: monospace;
}

.songListSongTable .td.tempo,
.songListSongTable .th.tempo {
    width: 80px;
}

.songListSongTable .td.tempo {
    font-family: monospace;
}

.songListSongTable .td.comment,
.songListSongTable .th.comment {
    display: flex;
    flex-grow: 1;
}

.songListSongTable .th.comment {
    /* left-justify */
    justify-content: flex-start;
}

.songListSongTable .td.comment {
    font-style: italic;
    color: #0008;
    font-style: italic;
    /* allow tag lists to wrap*/
    flex-wrap: wrap;
    /* so long as the comment is nowrap, then this works fine to keep things on 1 line when possible.*/
    width: min-content;
}

.songListSongTable .td.comment div.comment {
    /* when no tags, the comment container will fill the cell.*/
    flex-grow: 1;
}

.songListSongTable .td.comment .CMChipContainer {
    /* background-color: blue;
    height: 10px;
    width: 200px; */
    flex-wrap: wrap;
    /* right-justify makes them look nicer when wrapping + comment*/
    justify-content: flex-end;
}

.songListSongTable .td.comment .cmdbSimpleInput {
    width: 100%;
}

.songListSongTable .td.comment input::placeholder {
    color: #0005;
    font-size: 12px;
}

.songListSongTable .td.comment:hover input::placeholder {
    color: #000;
    font-size: 12px;
}


.EventSongListValue {
    /*allow the header to touch edges*/
    padding: 0;
    border-radius: 8px;
    border: 2px solid #fea;
    margin: 0 10px;
    margin-bottom: 19px;
}

.EventSongListValue>.header {
    background-color: #fea;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


.EventSongListValue.visibility-public {
    border: 2px solid var(--visibility-public-bgcolor);
}

.EventSongListValue.visibility-public>.header {
    background-color: var(--visibility-public-bgcolor);
}

.EventSongListValue.visibility-private {
    border: 2px solid var(--visibility-private-bgcolor);
}

.EventSongListValue.visibility-private>.header {
    background-color: var(--visibility-private-bgcolor);
}




.EventSongListValue>.content {
    padding: 10px;
}


/* autocomplete dropdown for songs */
li.songDropdownOption {
    white-space: nowrap;
}


.EventSongListValueEditor .MuiDialog-paper {
    max-width: 1200px;
}


.CMChip.CMStatusIndicator,
.CMChip.CMStatusIndicator .chipMain {
    border-radius: 2px;
}


.visibilityValue {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: small;
    border-radius: 3px;
    padding: 2px 14px;
    user-select: none;

    background-color: #ccc;
    color: #000;
}

.visibilityValue.visibility-private {
    background-color: #e00c;
    color: #eee;
}

.visibilityValue.visibility-public {
    background-color: #cfc;
    color: #000;
}

.flex-spacer {
    flex-grow: 1;
}