:root {
  --drawer-paper-width: 1000px;
  --data-grid-column-header-background-color: #f0f0f0;
  --primary-color: red;
}

.MuiDrawer-paper {
  width: var(--drawer-paper-width);
}

.MuiDataGrid-columnHeaders {
  background-color: var(--data-grid-column-header-background-color);
}

.MuiDataGrid-footerContainer {
  background-color: var(--data-grid-column-header-background-color);
}

.MuiDataGrid-toolbarContainer {
  background-color: var(--data-grid-column-header-background-color);
}

.hoverActionIcon:hover {
  color: var(--primary-color);
}

/* this is a small way to make selected nav more visible */
nav>.Mui-selected {
  border-right: 4px solid var(--primary-color);
}

nav>* {
  border-right: 4px solid transparent;
}

/* for selecting user roles, if user can select chip text it gets very annoying. */
.MuiChip-label {
  user-select: none;
}

.CMEditGrid2 {
  /* for some reason by default grids are 100% height; there's 0 reason to want that. */
  height: auto;
}

.CMEditGrid2 .MuiDataGrid-cell {
  /* align-items: flex-start; */
  /* allow things like tag chips to wrap */
  flex-wrap: wrap;
  /* and they look very ugly by default they fill space; this makes look more like text flow */
  align-content: baseline;
}

/* some datagrid values can be like, huge markdown pages or something. don't allow that to make the grid unreadable.*/
.MuiDataGrid-cellContent {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 140px;
}

/* some datagrid values can be like, huge markdown pages or something. don't allow that to make the grid unreadable.*/
.MuiDataGrid-cellContent.NoMaxHeight {
  max-height: none;
}

div.Mui-error {
  background-color: #fee;
  border: 1px solid red;
}

div.chipContainer {
  padding: 4px;
}

div.chipContainer.validationError {
  background-color: #fee;
  border: 1px solid red;
}

div.chipContainer.validationSuccess {
  border: 1px solid green;
}

.cmdbChip {
  margin: 2px;
}