.songListItem {
    background-color: white;
    margin-top: 10px;
    padding: 8px;
    padding-top: 0;
    border-left: 4px solid #eee;
}

.songListItem:hover {
    border-left: 4px solid #ccc;
}

.songListItem .resultIndex {
    opacity: 20%;
    margin-right: 15px;
    font-size: 19px;
}

.songListItem .nameLink {
    font-size: 26px;
    line-height: 24px;
    padding: 4px 10px 4px 0;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: -1px;
}

.songListItem .titleLine {
    display: flex;
    margin-bottom: 6px;
    flex-direction: column;
}

.songListItem .topTitleLine {
    display: flex;
    align-items: center;
}

.songListItem .topTitleLine svg {
    margin-right: 8px;
    opacity: 0.4;
}


.songListItem .introducedYear {
    font-style: italic;
    color: #999;
    padding-left: 6px;
}

.songListItem .aliases {
    font-style: italic;
    color: #999;
}

.songListItem .songTags {
    margin-bottom: 6px;
}

.songListItem .row {
    display: flex;
    align-items: center;
}

.songListItem .fieldItem {
    color: #999;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.songListItem .creditComment {
    font-style: italic;
}

.songListItem .bpm>.value,
.songListItem .length>.value {
    color: black;
    font-weight: bold;
}

.songListItem .lengthBpmLine {
    border-top: 1px solid #eee;
    padding-top: 6px;
    gap: 8px;
    display: flex;
    font-size: 12px;
    font-family: var(--ff-mono);
    color: #999;
}