html,
.mainContentBackdrop {
    /* if we need different bg color for different areas (public/backstage), then */
    background-color: #eee;
}

.CMDashboard2 {
    display: flex;
}

.CMDashboard2.smallScreen .mainContentBackdrop,
/* no padding for full-screen dialogs because screen space is premium.*/
.smallScreen .MuiDialogContent-root {
    padding-left: 4px;
    padding-right: 10px;
}

.CMSidenote {
    color: #999;
    font-style: italic;
    font-size: 14px;
}

.CMSidenote.warning {
    color: #c44;
}

.HalfOpacity {
    opacity: 50%;
}

/* FormControlLabel by default has a negative margin. no idea why but this negates. */
.CMFormControlLabel {
    margin: 0;
}

.singlePageSurface {
    /* spacing is already provided by parent layout*/
    /* margin: 20px; */
    padding: 0px 20px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: var(--subtle-elevation);
    max-width: var(--content-max-width);
}

/* -  --------------------------------- */

.BasicNameValuePairContainer {
    border: 1px solid #0002;
    margin: 9px 0;
    padding: 0;
    border-left: 6px solid #0004;
}

.BasicNameValuePairContainer:hover {
    border-left: 6px solid #0006;
}

.BasicNameValuePairContainer:focus-within {
    outline: 2px solid black;
}

.BasicNameValuePairContainer.readOnly {
    background-color: #eee;
}

.BasicNameValuePairContainer>.name {
    /* font-weight: bold; */
    background-color: white;
    color: black;
    opacity: 50%;
    padding: 6px 0 0 10px;

    /* see this in action on event custom fields with icons; this vertically-aligns the icons */
    display: flex;
    align-items: center;
}

.BasicNameValuePairContainer>.value {
    background-color: #eee;
    padding: 4px 0 4px 10px;
}

.BasicNameValuePairContainer>.description {
    color: #888;
    font-style: italic;
    font-size: 13px;
}

.BasicNameValuePairContainer>.validationResult {
    color: #c33;
    background-color: #fdd;
    font-style: italic;
    font-size: 12px;
}

.BasicNameValuePairContainer.readOnly>.value {
    background: none;
    opacity: 50%;
}

.BasicNameValuePairContainer.validationError>.value {
    background-color: #fdd;
}

.BasicNameValuePairContainer.bare,
.BasicNameValuePairContainer.bare>* {
    border: none;
    background: none;
}

.BasicNameValuePairContainer.bare>.name {
    opacity: 100%;
    font-weight: bold;
}


/* input controls for db3 dialogs */
input.CMTextInputBase.titleText {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    /* uppercase would obscure case  which is not desirable for input fields*/
    /* text-transform: uppercase; */
}

.BasicNameValuePairContainer input.CMTextInputBase {
    border: none;
    background: none;
    font-size: 23px;
    /**/
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;

    /* margin: 6px; */
    /* i don't like the bottom border exactly; but for empty fields it does a good job of directing the user to this cell*/
    border-bottom: 1px solid #aaa;
    /* background-color: #eee; */
}

.BasicNameValuePairContainer input.CMTextInputBase:focus {
    outline: none;
}




/* ---------------------------------- */
.CMChipContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.CMChipContainer.vertical {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.CMChipContainer .CMChip {
    margin-left: 0;
    margin-right: 0;
}

.CMChipContainer.tightMargins>.CMChip {
    margin: 1px 0;
}


.CMChipContainer>div.horizDivider {
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px dotted #888;
    height: 16px;
}


.CMChip {
    /* requires an .applyColor css class for coloring */
    /* background-color: #eee;
    border: 1px solid #ccc;
    color: #888; */

    /* instant transitions for filtering etc feel clunky almost broken or something. the smoothness feels comfy */

    transition: border .1s, color .1s;

    width: min-content;
    /* max-width: 250px; it's tempting to limit width of chips, but many times chips are displayed for things like "event status" where it would be unwise to cut it off. */
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.CMChip.big {
    padding: 2px;
    border-radius: 19px;
}

.CMChip.big>.chipMain {
    font-size: 16px;
    padding: 1px 12px;
    border-radius: 19px;
}

.CMChip.small {
    padding: 1px;
    border-radius: 19px;
}

.CMChip.small>.chipMain {
    font-size: 13px;
    padding: 1px 6px;
    border-radius: 19px;
}

.CMChip>.chipMain>.content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* override parent styles*/
    font-weight: normal;
    font-style: normal;
    /* many things are called 'content' and can sometimes leak into this class */
    padding: 0;
}

.CMChip .CMChipDeleteButton {
    display: inline-flex;
    align-items: center;
}

.CMChip .CMChipDeleteButton .MuiSvgIcon-root {
    width: 17px;
    margin-right: 3px;
}

.CMChip.small .CMChipDeleteButton .MuiSvgIcon-root {
    width: 16px;
    margin-right: 2px;
}

.CMChip.small svg {
    height: 20px;
}

.CMChip>.chipMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CMChip.selected {
    outline: 3px solid #000;
    z-index: 999;
}

.noSelectedOutline .CMChip.selected {
    outline: none;
}

.CMChip.rounded {
    border-radius: 19px;
}

.CMChip.rectangle {
    border-radius: 2px;
}

.CMChip.rectangle>.chipMain {
    border-radius: 2px;
}

.CMChipNoMargin {
    margin: 0;
}

.EventCompletenessTabContent .instrumentFunctionalGroupTD {
    background-color: white;
}

.EventCompletenessTabContent th {
    background-color: white;
}

.EventCompletenessTabContent th:hover {
    background-color: #eee;
}

.EventCompletenessTabContent tfoot td {
    text-align: center;
}

.EventCompletenessTabContent .segmentStatusSignificance_Cancelled {
    opacity: 50%;
}

.searchListItem {
    cursor: pointer;
}

.searchListItem>a {
    display: block;
}

/* general purpose style for interactable things like buttons. avoid selection which is awkward with mouse.
what's the diff between interactable, freeButton, and iconButton? so far not much...
*/
.interactable,
.freeButton,
.iconButton {
    user-select: none;
}

.interactable:not(.disabled),
.iconButton:not(.disabled),
.freeButton:not(.disabled) {
    cursor: pointer;
}

.interactable:not(.disabled):hover,
.freeButton:not(.disabled):hover {
    color: #08f;
    text-decoration: underline;
}

.interactableWithBorder:hover {
    border-color: #08f4;
}

.selectable {
    cursor: pointer;
    border: 1px solid transparent;
}

.selectable:hover {
    background-color: #f8f8f8;
    border: 1px solid #8888;
}

.deemphasizedWithHover {
    opacity: 20%;
}

.deemphasizedWithHover:hover {
    opacity: 100%;
}

/* add to <a> so it can contain flexy things */
.flexLink {
    display: flex;
    align-items: center;
}

.iconButton,
.freeButton {
    display: flex;
    align-items: center;
}

.CMSmallButton {
    width: max-content;
    font-size: 13px;
    opacity: 50%;
    font-style: italic;
    /* text-decoration: underline; */
    /* border: 2px outset #fff; */
    display: inline-flex;
    align-items: center;
    padding: 0px 6px;
}

.CMSmallButton.disabled {
    opacity: 20%;
}


.CMSmallButton.variant_technical {
    font-style: normal;
    font-family: var(--ff-mono);
    font-size: 11px;
}

.CMSmallButton.variant_framed {
    opacity: 80%;
    border: 1px solid black;
    font-style: normal;
    border-radius: 4px;
    background-color: #0003;
}


.debugInspectorOpen {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 2px solid #aa08;
    background-color: #8ff8;
    padding: 2px;
    margin: 2px;
    /* width: min-content; */
    display: inline-flex;
    align-items: center;
    font-size: 10px;
    white-space: nowrap;
}

/* https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop */
.draggable {
    cursor: move;
    cursor: grab;
    font-family: var(--ff-mono);
}

.header.draggable:hover {
    background-color: #44f8;
}

.draggable:active {
    cursor: grabbing;
}


.CMChip.CMStatusIndicator,
.CMChip.CMStatusIndicator .chipMain {
    border-radius: 2px;
}


.visibilityValue {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: small;
    border-radius: 3px;
    padding: 2px 7px;
    user-select: none;
}


.contentSection .header .visibilityValue,
.titleLine .visibilityValue {
    opacity: 25%;
}

.flex-spacer {
    flex-grow: 1;
}


/* - UploadFileComponent --------------------------------- */
.uploadControlContainer {
    display: flex;
    /* prevent the cancel button from being tall */
    align-items: center;
}

.UploadFileComponentContainer {
    display: flex;
    padding: 0 30px;
    margin: 20px;
}

.UploadFileComponent {
    border: 2px solid #eee;
    color: #aaa;
    font-size: 18px;
    /* font-weight: bold; */
    display: flex;
    /* margin: 10px 20%; */
    /* padding: 9px 2px; */
    border-radius: 5px;
    width: 450px;
    height: 140px;
    /* fixed height needed so transition to progress bar is smooth.*/
}

.FileUploadWrapperContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.fileDropWrapper {
    border: 4px solid transparent;
    position: relative;
    /* width 100% is required for editing markdown in dialogs to consume full width. not exactly sure why though because display is still block.*/
    width: 100%;
}

.UploadFileComponent.dragging,
.fileDropWrapper.dragging {
    border: 4px dashed #ddd;
    color: #aaa;
}

.fileDropWrapper .dragOverlay {
    /* important to avoid flickering, passing events around */
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fffa;
    outline: 10px dashed #aaa;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    border-radius: 10px;
}

.uploadProgressModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadProgressModal .progressContainer {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    display: flex;
}

.uploadProgressModal .progressContainer .progressLabel {
    font-size: 40px;
    font-family: var(--ff-mono);
    font-weight: bold;
}

.UploadFileComponentInterior {
    background-color: #eee8;
    margin: 11px;
    flex-grow: 1;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.UploadFileComponent svg {
    font-size: 60px;
    width: 33%;
}

.UploadFileComponent ul {
    padding: 0px 0px 0px 20px;
    margin: 0;
    font-size: 15px;
}


/* - event files --------------------------------- */

.EventFileValue {
    --file-type-border-color: #718096;

    margin: 10px 0;
    padding: 2px 8px;
    /* background-color: #eee; */
    border: 1px solid #0002;
    border-left: 12px solid var(--file-type-border-color);
    border-radius: 4px;
}


.EventFileValueViewer:hover {
    background-color: #f8f8f8;
}


.EventFileValue .header {
    display: flex;
    align-items: center;
    ;
}

.EventFileValue .descriptionContainer {}

.EventFileValue.mime-type-audio {
    --file-type-border-color: #44c;
}

.EventFileValue.mime-type-image {
    --file-type-border-color: #38a169;
    /* Green */
}

.EventFileValue.mime-subtype-pdf {
    --file-type-border-color: #e53e3e;
    /* Red */
}

.EventFileValue.mime-type-video {
    --file-type-border-color: #805ad5;
    /* Purple */
}

.EventFileValue .stats {}

.EventFileValue .stats .stat {
    font-family: var(--ff-mono);
    font-size: small;
    color: #999;
    width: max-content;
}

.EventFileValue .stats .stat.highlight {
    font-size: 15px;
    font-weight: bold;
    color: #494;
    background-color: #efe;
}

.EventFileValue .stats .stat.externalURI {
    font-family: var(--ff-mono);
}



.downloadLink {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.EventFileValue .audioPreviewGatewayContainer {
    display: flex;
    align-items: center;
}

.EventFileValue .audioPreviewGatewayContainer .audioPreviewGatewayButton {
    display: flex;
    font-size: 20px;
    color: #888;
    align-items: center;
    text-transform: uppercase;
    align-content: center;
    /* border: 2px solid blue; */
    width: min-content;
    padding: 4px;
}

.EventFileValue .audioPreviewGatewayContainer .audioPreviewGatewayButton svg {
    height: 43px;
    width: 43px;
    margin-right: 8px;
}

.EventFileValue .audioPreviewGatewayContainer .audioPreviewGatewayButton:hover {
    color: #08f;
}


/* - DateTimeRangeControl --------------------------------- */
.DateTimeRangeControl {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.DateTimeRangeControl .interactable {
    color: #08f;
}

.DateTimeRangeControl .row {
    display: flex;
    align-items: center;
}

.DateTimeRangeControl .row>.field,
.DateTimeRangeControl .row>.field>.field {
    /* better vertical centering*/
    display: flex;
    font-size: 16px;
    white-space: nowrap;
    /* font-weight: bold; */
    /* font-family: var(--ff-mono); */
    letter-spacing: -0.5px;
    margin: 0px 8px;
}


.DateTimeRangeControl .row>.field.dateSelection {
    /* fixed-width in order for the "all-day" control to stay in place */
    width: 450px;
}

.DateTimeRangeControl .timePart select {
    /* width: 180px; */
    font-size: 16px;
    /* font-weight: bold; */
    /* font-family: var(--ff-mono); */
    margin: 0px 2px;
    border: 0;
    /* padding: 5px; */
    /* text-align: center; */
    letter-spacing: -0.5px;
    appearance: none;
}

.DateTimeRangeControl .timePart select.startTime {
    /* width: 120px; */
}


.DateTimeRangeControl .allDayControl .MuiFormControlLabel-label {
    white-space: nowrap;
}


/*

<div.EventCalendarMonth.MuiDateCalendar-root>
    ...
    <div.MuiDayCalendar-weekContainer>
        <div.day.dayContainer>
            <div.dayCustomArea>
            <div.

*/

.EventCalendarMonth {
    --range-border-radius-size: 50%;
}


.EventCalendarMonth .MuiDayCalendar-weekContainer {
    /* can't have margin / padding for rows, to allow weekend highlighting to flow*/
    margin: 0;
    padding: 0;
}


.EventCalendarMonth .dayContainer div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.EventCalendarMonth .MuiDayCalendar-weekDayLabel {
    /* workaround for https://github.com/mui/material-ui/issues/28688
    if days have 0 margin (allowing clean range highlighting), weekdays also need 0 margin. but can only be done in css.
    */
    margin: 0;
}

.EventCalendarMonth .dayContainer {
    position: relative;
}

.EventCalendarMonth .dayContainer .dayCustomArea,
.EventCalendarMonth .dayContainer .dayGridLines,
.EventCalendarMonth .dayContainer .selectionIndicator,
.EventCalendarMonth .dayContainer .selectionBackground,
.EventCalendarMonth .dayContainer .pickersContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.EventCalendarMonth .dayContainer .pickersContainer {
    z-index: 5;
    position: relative;
}

.EventCalendarMonth .dayContainer .dayCustomArea {
    top: 20px;
    opacity: 40%;
    z-index: 4;
}

.EventCalendarMonth .dayContainer .selectionIndicator {
    z-index: 3;
}

.EventCalendarMonth .dayContainer .selectionBackground {
    z-index: 2;
}


.EventCalendarMonth .dayContainer .dayGridLines {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    z-index: 1;
}

.EventCalendarMonth .dayContainer:first-child {
    border-left: 1px solid #eee;
}



.EventCalendarMonth .MuiPickersDay-root.Mui-selected {
    /* by default MUI styles the current selection on the pickers button itself; we want to style differently so revert their stylings */
    color: unset;
    background-color: unset;
}

.EventCalendarMonth button.MuiPickersDay-root:hover {
    background-color: unset;
}


/* 
.EventCalendarMonth .day.MuiPickersDay-today {
    border: 0;
    background-color: #eee;
} */

.EventCalendarMonth .MuiDayCalendar-monthContainer {
    background-color: #ccc;
}

.EventCalendarMonth .day button {
    border-radius: 0;
}

.EventCalendarMonth .dayContainer.day.past .dayGridLines {
    background-color: #f8f8f8;
}

.EventCalendarMonth .dayContainer.day.past button {
    color: #ddd;
}

.EventCalendarMonth .dayContainer.day.weekend {
    color: #aaa;
    border-radius: 0;
    background-color: #f8f8f8;
}

/* 
.EventCalendarMonth .dayContainer.day.dayOutsideMonth .dayGridLines {
    background-color: #ddd;
}

.EventCalendarMonth .dayContainer.day.dayOutsideMonth button {
    color: #aaa;
} */



.EventCalendarMonth .dayContainer.day.inRange .selectionBackground {
    background-color: #cecc;
    border-radius: 0;
}

.EventCalendarMonth .dayContainer.day.rangeStart .selectionBackground {
    border-top-left-radius: var(--range-border-radius-size);
    border-bottom-left-radius: var(--range-border-radius-size);
}

.EventCalendarMonth .dayContainer.day.rangeEnd .selectionBackground {
    border-top-right-radius: var(--range-border-radius-size);
    border-bottom-right-radius: var(--range-border-radius-size);
}

.EventCalendarMonth .dayContainer.day.selected .selectionIndicator {
    border: 2px solid black;
    background-color: #0f98;
    font-weight: bold;
    border-radius: 50%;
}

.EventCalendarMonth .dayContainer.day:hover .selectionIndicator {
    /* border: 2px solid #888; */
    background-color: #8ff4;
    border-radius: 50%;
}

.EventCalendarMonth {
    --other-event-lane-height: 4px;
    --other-event-border-radius: 2px;
}

.EventCalendarMonth .dayContainer .otherEvent {
    --event-color: #ccc;
    height: var(--other-event-lane-height);
    background-color: var(--event-color);
    width: auto;
}

.EventCalendarMonth .dayContainer .otherEventRangeStart {
    margin-left: 7px;
    border-top-left-radius: var(--other-event-border-radius);
    border-bottom-left-radius: var(--other-event-border-radius);
}

.EventCalendarMonth .dayContainer .otherEventRangeEnd {
    margin-right: 7px;
    border-top-right-radius: var(--other-event-border-radius);
    border-bottom-right-radius: var(--other-event-border-radius);
}

.EventCalendarMonth .dayContainer .dayCustomArea {
    display: flex;
    flex-direction: column;
}


.EventCalendarMonth button.MuiPickersDay-root {
    /* day numbers top-align*/
    display: flex;
    align-items: flex-start;
}



.EventCalendarMonth button.MuiPickersDay-root {
    /* day numbers top-align*/
    display: flex;
    align-items: flex-start;
}


/* - profile - change password form --------------------------------- */
.resetPasswordControlContainer {
    display: flex;
    flex-direction: column;

}

/* - event detail: frontpage agenda preview --------------------------------- */
.frontpageAgendaPreviewContainer {
    /* background-color: #eee; */
    border: 10px dashed #edee7d;
    padding: 10px;
    max-width: 500px;
    margin: 10px;
}

.frontpageAgendaPreviewContainer .previewCaptionRow {
    display: flex;
}

.frontpageAgendaPreviewContainer .previewCaptionRow .title {
    color: #edee7d;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}


.EventFrontpageTabContent .fieldContainer {
    display: flex;
}

.EventFrontpageTabContent .fieldContainer .label {
    color: black;
    white-space: nowrap;
    width: 140px;
    display: flex;
    /* border: 2px solid red; */
}

.EventFrontpageTabContent .fieldContainer .label .text {
    text-overflow: ellipsis;
    overflow: hidden;
    /* text-align: right; */
    flex-grow: 1;
}

.EventFrontpageTabContent .fieldContainer .label .icon {
    margin: 0px 6px;
}



.EventFrontpageTabContent .fieldContainer .nullContainer {
    width: 100px;
    display: flex;
}


.EventFrontpageTabContent .fieldContainer .value {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 340px;
    padding: 3px;
    margin: 2px;
    background-color: #0606060d;
    /* border: 1px solid #333; */
    color: #444;
}

.EventFrontpageValuesTable th {
    width: 40px;
    font-family: var(--ff-mono);
    color: #0008;
}

.EventFrontpageValuesTable td {
    /* if the value is narrower than the label it looks weird */
    min-width: 60px;
}


.EventFrontpageTabContent .fieldContainer .value.faded {
    /* border: 1px solid #555; */
    background-color: #ccc;
    color: #aaa;
}

.EventFrontpageTabContent .fieldContainer .autoLabel {
    color: #888;
    font-style: italic;
}

.EventFrontpageTabContent .fieldContainer.frontpageVisible .value {
    border: 0;
    background-color: transparent;
}


.EventFrontpageTabContent .fieldContainer.faded {
    opacity: 40%;
}

/* - image editor --------------------------------- */
.ImageEditor.editorMain {
    margin: 10px;
    border: 5px solid black;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.ImageEditor.editorMain .toolbar {
    padding: 0;
}

.ImageEditor.editorMain .toolbar .toolbutton {
    border: 2px solid transparent;
    background-color: #0002;
    margin: 0px 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    padding: 0px 10px;
    /* width: 100px; */

}

.ImageEditor.editorMain .toolbar .toolbutton.selected {
    border-color: red;
    background-color: #f002;
}


.ImageEditor.editorMain .toolbar .toolbutton:hover {
    border-color: blue;
    background-color: #00f2;
}

.dashed-grid-paper {
    --grid-size-x: 60px;
    --grid-size-y: 60px;
    --grid-strength: 1px;
    --grid-dash: 1px;
    --grid-gap: 5px;
    --grid-color: #8888;
    --paper-color: transparent;

    background-color: var(--paper-color);
    background-size: var(--grid-dash) var(--grid-dash), var(--grid-size-x) var(--grid-size-y);
    background-image:
        linear-gradient(to bottom, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
        linear-gradient(to right, var(--grid-color) var(--grid-strength), transparent var(--grid-strength)),
        linear-gradient(to right, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
        linear-gradient(to bottom, var(--grid-color) var(--grid-strength), transparent var(--grid-strength));
}


/* - gallery items --------------------------------- */
.contentSection.GalleryItem {
    border-left: solid 16px var(--primary-color);
}

.contentSection.GalleryItem .content {
    padding-right: 20px;

}


.contentSection.GalleryItem .filesize {
    color: #888;
    font-family: var(--ff-mono);
    font-weight: bold;
}

.contentSection.GalleryItem .filesize.largeFileWarn {
    color: red;
}


.contentSection.GalleryItem .dragHandle {
    /* make drag handle the whole header and push visibility to the right*/
    flex-grow: 1;
}

.contentSection.GalleryItem .imageEditControlContainer {
    border: 2px dashed #ccc;
    padding: 10px 10px;
    width: min-content;
    margin-top: 10px;
}

.galleryPatternMask .imageStroke {
    stroke-width: 10px;
    stroke: #f80c;
    fill: transparent;
}

.galleryPatternMask .mask {
    fill: #200d;
}

.galleryPatternMask .cropStroke {
    stroke-width: 10px;
    stroke: #c00d;
    fill: transparent;
}


/* - dashboard menu --------------------------------- */


/* .CMMenu .public {
    color: #080;
    background-color: #eee;
}

.CMMenu .public.linkMenuItem:hover {
    background-color: #ccc;
} */

.CMMenu .admin {
    color: #a40;
    background-color: #eee;
}

.CMMenu .admin.Mui-selected {
    background-color: #ddd;
}

/* 
.CMMenu .admin.events {
    color: #008;
} */

.CMMenu .admin.linkMenuItem:hover {
    background-color: #ccc;
}

.ReactiveInputDialog .MuiDialog-container>.MuiPaper-root {
    /* for some reason default dialogs like to be max-width:600px. this overrides that to let edit dialogs to be wide enough for contents.
in particular the date range picker is wide.*/
    /* max-width: 95vw; */
    /* for mobile compat though, don't do very wide things. */
    max-width: var(--content-max-width);

    /* setting a min-height is a prettier xp when list has few items, and when user is typing in the filter box changing the list height constantly.*/
    min-height: 50vh;
    /* same here in theory, but careful because wider-than-necessary is just odd looking*/
    min-width: 400px;
}

.ReactiveInputDialog .MuiDialog-container>.MuiPaper-root.MuiDialog-paperFullScreen {
    /* test: edit song list dialog on narrow screen. for full-screen dialogs, don't set max-width! */
    max-width: none;
    min-width: none;
    min-height: none;
    max-height: none;
}



/* -  --------------------------------- */
.paletteeditor2 .contentSection {
    width: auto;
}

.paletteeditor2 .paletteSwatchContainer {
    display: flex;
    flex-direction: column;
}

.paletteeditor2 .paletteRow {
    display: flex;
}

.paletteeditor2 .paletteSwatch {
    width: 70px;
    height: 60px;
    --border-size: 3px;
    --swatch-color: #ff8;
    --selected-border-color: black;
    background-color: var(--swatch-color);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 11px;
    overflow: hidden;
    font-family: var(--ff-mono);

    color: var(--selected-border-color);
    border: var(--border-size) solid var(--swatch-color);
}

.paletteeditor2 .paletteSwatch.selected {
    border: var(--border-size) solid var(--selected-border-color);
    border-radius: 6px;
}


.paletteeditor2 .textButton {
    font-size: 16px;
    border: 1px solid #0002;
}

.paletteeditor2 .paletteBigSwatch {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 19px;
    /* font-family: var(--ff-mono); */
    margin: 12px;
    position: relative;
    border-radius: 7px;
}

.paletteeditor2 .paletteBigSwatch>.embeddedContrastSwatch {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.paletteeditor2 .paletteBigSwatch>.embeddedContrastSwatch.strong {
    background-color: var(--strong-contrast-color);
}

.paletteeditor2 .paletteBigSwatch>.embeddedContrastSwatch.weak {
    background-color: var(--weak-contrast-color);
}

.paletteeditor2 .PaletteEntryEditor {
    background-color: #ccc;
    border: 2px solid #999;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
}

.paletteeditor2 .PaletteEntryEditor>.controls {
    display: flex;
    align-items: center;
    background-color: white;
}

.paletteeditor2 .PaletteEntryEditor .previewStyleButton {
    padding: 4px;
    border: 2px solid transparent;
}

.paletteeditor2 .PaletteEntryEditor .previewStyleButton.selected {
    border: 2px solid #44c;
}

.paletteeditor2 .PaletteEntryEditor .controls .title {
    font-weight: bold;
    font-size: 36px;
}

.paletteeditor2 .textPaletteLayout {
    display: flex;

}


.paletteeditor2 .textPaletteLayout textarea {
    width: 250px;
    min-height: 350px;
    resize: vertical;

    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    flex-shrink: 0;
    padding: 8px;
}

.looseEntryList {
    display: flex;
}

.looseEntryList .looseEntry {
    border-radius: 4px;
    background-color: #ccc;
    padding: 0px 3px;
    margin: 3px;
}

.looseColorsInfoContainer,
.alphaColorsInfoContainer {
    border-radius: 4px;
    background-color: #eee;
    padding: 13px;
    margin: 13px;
    border-left: 14px solid #080;
}


.looseColorsInfoContainer.alert,
.alphaColorsInfoContainer.alert {
    border-left: 14px solid #c40;
}

.correctColorButtonGroup {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.correctColorButtonGroup .correctColorItem>button {
    width: 100%;
}

.manualColorEntry {
    font-size: 13px;
    font-family: var(--ff-mono);
    width: 80px;
}

.variationEditorContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--preview-bg);
    color: var(--preview-fg);
}

.PaletteEntryVariationEditor {
    border: 1px solid #0002;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indivColorEditPair {
    display: flex;
}

.indivColorEditGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ColorVariationExpo {
    background-color: var(--preview-bg);
    color: var(--preview-fg);
}

.ColorVariationExpo .controls {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.ColorVariationExpo .controls .row {
    display: flex;
    flex-direction: row;
}

.contrastColorEntries {
    display: flex;
    ;
}

.contrastColorEntries .ContrastColorSwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
}

.ContrastColorSwatchPreviewContainer {
    padding: 20px;
}

.SwatchTempPalette .SwatchTempPaletteEntry {
    border: 2px dashed #0003;
    border-left: none;
}

.SwatchTempPalette .SwatchTempPaletteEntry:first-child {
    border-left: 2px dashed #0003;
}

.SwatchTempPalette .SwatchTempPaletteEntry.selected {
    border-bottom: 2px solid #00fc;
    border-top: 2px solid #00fc;
}

.SwatchTempPaletteSection {
    position: sticky;
    inset: 0px;
    z-index: 10000;
}

.ColorDetail {
    display: flex;
}

.ColorDetail .swatchPreviewCell {
    --preview-bg: #red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: var(--preview-bg);
}


.nameValueTable {
    font-family: var(--ff-mono);
    font-size: 14px;
}

.nameValueTable .row {
    display: flex;
}

.nameValueTable .name {
    width: 100px;
}

.attendanceResponseColorBarSegment {
    height: 26px;
    width: 26px;
    margin: 0 2px;
    font-family: var(--ff-mono);
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* cursor: pointer; */
    overflow: hidden;
    white-space: nowrap;
    /* this just feels more comfortable*/
    padding-left: 2px;
}


.attendanceResponseColorBarSegment.notgoing {
    opacity: 50%;
}

.attendanceResponseColorBarSegmentContainer {
    display: flex;
    flex-grow: 1;
    margin: 0 6px;
}

.attendanceResponseColorBarCell {
    display: flex;
    align-items: center;
}

.attendanceResponseColorBarText {
    display: flex;
    color: #bbb;
    font-family: var(--ff-mono);
    font-size: 14px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.attendanceDetailTable {
    width: 100%;
    table-layout: fixed;
}

.attendanceDetailTable .segmentSignificance_Cancelled {
    opacity: 50%;
}

.attendanceDetailTable .responseCell {
    min-width: 100px;
    text-align: center;
}

.EventSegmentAttendeeStat>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EventSegmentAttendeeStat>div svg {
    opacity: 30%;
    margin-right: 6px;
}

.EventCompletenessTabContent tfoot td,
.attendanceDetailTable tfoot td {
    background-color: white;
    color: #aaa;
    font-family: var(--ff-mono);
}

.attendanceDetailTable .responseCell .responseCellContents {
    display: flex;
    align-items: center;
}

.attendanceDetailTable th.responseCell>* {
    display: flex;
    width: 100%;
    justify-content: center;
}

.attendanceDetailTable td {
    overflow: hidden;
}


.attendanceDetailTable .nameCellContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding-left: 8px; */
}

.attendanceDetailTable .nameCellContainer>* {
    margin-right: 6px;
}

/* 
.attendanceDetailTable .nameCellContainer.you,
.attendanceDetailTable .CMChip.nameCellContainer.you {
    color: #00f;
    padding-right: 10px;
    font-weight: bold;
    background-color: #00f1;
} */

.attendanceDetailTable .nameCellContainer>.editButton {
    color: #888;
}

.attendanceDetailTable .nameCellContainer>.you {
    color: #000;
    font-weight: normal;
}





.EventSegmentPanel.segment {
    border: 2px solid #ccc;
    padding: 0;
    margin: 15px 5px;
    border-radius: 6px;
    background-color: #f8f8f8;
    border-left: 8px solid var(--primary-color);
}


.EventSegmentPanel.segment>.header {
    padding: 4px 12px;
    background-color: #ddd;
    color: #888;
    justify-content: space-between;
    align-items: center;
}

.EventSegmentPanel.segment>.content {
    padding: 8px;
}

.EventSegmentPanel.segment .name {
    font-size: 20px;
    /* color: white; */
    font-weight: bold;
}


.EventSegmentPanel.segment .editButton {
    /* color: white;
    background-color: black;
    border: 0; */
    margin: 0 12px;
}


.EventSegmentPanel.segment .dateRange {
    /* text-transform: uppercase; */
    font-size: 22px;
    font-weight: bold;
}

.EventSegmentPanel.segment.statusSignificance_Cancelled {
    border: 0;
    /* opacity: 50%; */
}

.EventSegmentPanel.segment.statusSignificance_Cancelled>.header {
    background-color: #eee;
    color: #aaa;
    text-decoration: line-through;
}

.EventSegmentPanel.segment.statusSignificance_Cancelled>.header>.dateRange {
    font-size: 16px;
}

.EventSegmentPanel.segment.statusSignificance_Cancelled>.content {
    opacity: 50%;
    text-decoration: line-through;
}

.newSegmentButton {
    margin: 10px;
}


.signInBlock {
    border: 2px solid #5554;
    border-left: 8px solid #ccc;
    max-width: 600px;
    padding: 15px;
    margin: 15px;
    display: block;
    border-radius: 4px;
    background-color: #8881;
    color: black;
}

.signInBlock:hover {
    border-left: 8px solid #88f;
    outline: 3px solid black;
    background-color: white;
}

.signInBlock .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.signInBlock .title img {
    margin: 8px;
}

.signInBlock .link {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.signInBlock .description {
    display: block;
    font-size: 14px;
}

/* --------------------------------------------------- */
.eventAttendanceControl {
    max-width: 650px;
    background-color: #eee;
    padding: 0 6px;
    border-radius: 3px;
    border: 2px solid #ddd;
    border-left: 8px solid #ddd;
    margin: 4px;
}

.eventAttendanceControl.alert {
    background-color: #fee;
    /* padding: 4px; */
    border: 2px solid #f88;
    border-left: 8px solid #f88;
}

.eventAttendanceControl .eventName {
    display: inline;
}


.eventAttendanceControl .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
}

.eventAttendanceControl .segment {
    margin: 4px;
    padding: 10px 0px;
    margin-bottom: 10px;
    /* border-left: 3px solid #00c; */
}


.eventAttendanceControl .segment .header {
    font-size: 19px;
    font-weight: bold;
}

.eventAttendanceControl.minimalView {}





/* ad-hoc class for selecting foreign single values in a list, showing selected & delete icons next to a chip in a line.*/
.listItemRow {
    display: flex;
}

/* when admin controls show, foreign single values in dialogs allow selecting the default display method. */
.adminControlFrame {
    border: 2px solid #f80;
    background: #f802;
    padding: 4px;
    width: max-content;
}

.adminControlFrame:hover {
    border: 2px solid #fcc;
}

/* song introduced year, which is placed after the title but on the same line */
span.titleTag {
    color: #aaa;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}

.subtitle.songAliases {
    margin-top: -10px;
}

/* song detail, song credit view */
div.songCredit {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 6px 0px;
    border-left: 4px solid #ccc;
}

div.songCredit:hover {
    border-left: 4px solid #444;
    background-color: #eee;
}


div.songCredit .comment {
    padding-left: 10px;
}

/* -  --------------------------------- */

table.songMetadata {
    border: 0;
    border-collapse: collapse;
}

table.songMetadata tr:first-child>* {
    --border-color: #ccc;
    border-top: 1px solid #ccc;
}


table.songMetadata tr>* {
    border-bottom: 1px solid #ccc;
}

table.songMetadata tr:hover {
    outline: 2px solid #0006;
    border-radius: 4px;
}

table.songMetadata th {
    background-color: #ddd;
    padding: 2px 10px;
    text-align: right;
    color: #777;
}

table.songMetadata td {
    font-family: var(--ff-mono);
    color: #66e;
    text-align: right;
    padding: 2px 10px;
}

table.songMetadata td .flexRow {
    display: flex;
    align-items: center;
}

table.songMetadata tr.length td,
table.songMetadata tr.bpm td {
    font-size: 23px;
}

table.songMetadata tr td .CMSmallButton {
    opacity: 20%;
}

table.songMetadata tr:hover td .CMSmallButton {
    opacity: 100%;
}

/* -  --------------------------------- */

.noInstrumentsWarning {
    font-weight: bold;
    background-color: #ffd4d4;
    border: 2px solid #f80;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.noInstrumentsWarning a {
    color: blue;
    text-decoration: underline;
    /* margin: 7px; */
}

/* -  --------------------------------- */

.googleIdentityControl {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.googleIdentityControl img {
    margin: 10px;
}

/* -  --------------------------------- */

.emphasizedURL {
    white-space: nowrap;
}

/* -  --------------------------------- */


.resetPasswordURLCopyButton {
    outline: 2px solid black;
    font-family: var(--ff-mono);
    color: #64f;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.resetPasswordURLCopyButton:hover {
    background-color: rgb(234, 220, 255);
    outline: 2px solid #64f;
}

.resetPasswordURLDialog .MuiPaper-root {
    max-width: none;
}

.resetPasswordURLDialog .copiedIndicator {
    color: green;
}

.resetPasswordPage {
    display: flex;
    justify-content: center;
}


.resetPasswordContent {
    width: max-content;
    padding: 20px;
}

.resetPasswordContent .error {
    color: red;
}

/* -  --------------------------------- */
.dashboardStatsTabButtonContainer {
    margin-bottom: 15px;
}

/* -  --------------------------------- */
.songLengthInputContainer .preview {
    font-family: var(--ff-mono);
    font-size: 20px;
    font-weight: bold;
    color: #20f4;
}

/* -  --------------------------------- */
.tagsFieldView {
    max-width: 500px;
}

/* -  --------------------------------- */

/* the button on the dashboard */
.globalMetronomeButton {
    /* required to make it vertically center correctly */
    display: flex;
    color: #fff4;
    background-color: #fff2;
    border-radius: 6px;
    margin: 0 10px;
    padding: 6px;
}

.bpmControlsContainer {
    display: flex;
    align-items: center;
}

.metronomeButton {
    opacity: 50%;
    color: #0008;
    margin: 0px 15px;
    padding: 2px 6px;
    border-radius: 6px;
    border: 2px solid #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}



.metronomeButtonContainer.tiny .metronomeButton {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 0;
    /* margin-right: 10px; */
}



.metronomeButton.playing {
    opacity: 100%;

    /* butt up against sync button */
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* color: #84f; */
    /* background-color: #f0f2; */
}





.metronomeIndicator {
    --color1: #ff6;
    --color2: #0f0;
    --color3: #040;
    --duration: .12s;
    --timingfunction: linear;
    border-radius: 50%;
    margin: 0 10px;
    width: 32px;
    height: 32px;
    border: 2px solid #0004;
    box-shadow: 0 0 25px var(--color3);


    /* default animation state */
    background-color: var(--color3);
    box-shadow: 0 0 25px var(--color3);
}



.metronomeButtonContainer.tiny .metronomeIndicator {
    padding: 0;
    border: 0;
    margin: 0;
}


@keyframes MetronomeFlash1 {
    0% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    50% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    100% {
        background-color: var(--color3);
        box-shadow: 0 0 25px var(--color3);
    }
}

@keyframes MetronomeFlash2 {
    0% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    50% {
        background-color: var(--color1);
        box-shadow: 0 0 25px var(--color1);
    }

    100% {
        background-color: var(--color3);
        box-shadow: 0 0 25px var(--color3);
    }
}

.metronomeIndicator.tick {
    animation: MetronomeFlash1 var(--duration) var(--timingfunction) forwards;
}

.metronomeIndicator.tock {
    animation: MetronomeFlash2 var(--duration) var(--timingfunction) forwards;
}


.GlobalMetronomeDialog {
    user-select: none;
    touch-action: none;
}

.GlobalMetronomeDialog.ReactiveInputDialog .MuiDialog-container>.MuiPaper-root.MuiDialog-paperFullScreen {
    /* max-width: 360px;
    max-height: 780px; */
    /* touch-action: none; */
}

.GlobalMetronomeDialog .buttonRow {
    display: flex;
    justify-content: center;
}

.GlobalMetronomeDialog .bpmAndTapRow {
    display: flex;
    justify-content: center;
}


.GlobalMetronomeDialog .sliderContainer {
    display: flex;
    justify-content: center;
}

.GlobalMetronomeDialog input {
    margin: 15px;
    font-size: 58px;
    font-weight: bold;
    font-family: var(--ff-mono);
    text-align: center;
    width: 80%;
}

.GlobalMetronomeDialog .metronomeButton {
    flex-grow: 1;
}

@keyframes MetronomeTapFlash1 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}

@keyframes MetronomeTapFlash2 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}

.GlobalMetronomeDialog .tapTempoButton,
.GlobalMetronomeDialog .closeButton,
.GlobalMetronomeDialog .nudge,
.GlobalMetronomeDialog .preset {
    margin: 15px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #88f;
    color: white;
    width: 100px;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GlobalMetronomeDialog .tapTempoButton {
    /* because caption changes, fix the width. */
    width: 150px;
}

.GlobalMetronomeDialog .closeButton {
    width: min-content;
    padding: 20px;
}

.GlobalMetronomeDialog .nudge {
    font-size: 40px;
}

.GlobalMetronomeDialog .preset {
    display: flex;
    flex-direction: column;
    text-transform: none;

    background-color: #ccc;
    width: unset;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    margin: 5px;
}

.GlobalMetronomeDialog .preset.selected {
    background-color: #88f;
}

.GlobalMetronomeDialog .preset.selected .subtitle {
    color: #bbf;
}

.GlobalMetronomeDialog .nudge:hover,
.GlobalMetronomeDialog .preset:hover,
.GlobalMetronomeDialog .tapTempoButton,
.GlobalMetronomeDialog .closeButton {
    outline: 1px solid black;
}

.GlobalMetronomeDialog .preset .title {
    font-size: 30px;
    color: #eee;
    margin-bottom: -5px;
}

.GlobalMetronomeDialog .preset .subtitle {
    font-size: 12px;
    color: #88f;
    letter-spacing: -.3px;
    white-space: nowrap;
}

.GlobalMetronomeDialog .tapTempoButton.tick {
    animation: MetronomeTapFlash1 .5s forwards;
}

.GlobalMetronomeDialog .tapTempoButton.tock {
    animation: MetronomeTapFlash2 .5s forwards;
}

.GlobalMetronomeDialog svg {
    width: 100px;
    height: 100px;
}

.GlobalMetronomeDialog .metronomeIndicator {
    width: 100px;
    height: 100px;
}


.metronomeButtonContainer {
    display: flex;
}

.metronomeButtonContainer .metronomeSyncButton {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    /* but upp against play control */
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    ;

}

.metronomeButtonContainer .metronomeSyncButton:hover {
    background-color: #aaf;
}

.GlobalMetronomeDialog .metronomeButtonContainer .metronomeSyncButton {
    font-size: 32px;
    padding: 0 20px;
    /* margin-left: 30px; */
    text-decoration: none;
}

.GlobalMetronomeDialog .metronomeButtonContainer .metronomeSyncButton:hover {
    text-decoration: none;
}

/* -  --------------------------------- */

.content.yourProfile {
    min-width: 450px;
}

/* -  --------------------------------- */

.searchableValueContainer .searchableValueResult {
    font-size: 13px;
    color: #999;
}


.searchableValueContainer .existingMatchLabel {
    display: inline-block;
}


.searchableValueContainer .existingMatchValue {
    display: inline-block;
    color: black;

}

.searchableValueContainer .littleHelpText {
    font-style: italic;
}

/* -  --------------------------------- */

.searchPage {
    /* on a search page, limit width to make filter controls more accessible*/
    max-width: 900px;
}

/* -  --------------------------------- */

.customURLslugValueRow {
    display: flex;
}

/* -  --------------------------------- */

.MuiTabs-root {
    --tab-height: 34px;
    min-height: var(--tab-height);
    margin-top: 10px;
}

.MuiTab-root {
    padding: 0px 8px;
    margin: 1px;
    min-height: var(--tab-height);
    font-size: 14px;
    text-transform: none;
}

.MuiTab-root.Mui-selected {
    /* outline: 1px solid black; */
    /* background: linear-gradient(to top, white, white, #ddd); */
    background-color: #8881;
    border: 2px solid #0002;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.MuiTabs-indicator {
    visibility: hidden;
}

.attendanceResponseInput .comment {
    margin-bottom: 2px;
}

.shareCalendarButton {
    display: flex;
}

/* "expand" button on the event list filters control which is pushed to the right side.
can't use flex-spacer here because that expanded area should also be clickable. */
.headerExpandableButton {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.topDivider {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid #8885;
}

.menuLinkTestLink {
    display: inline-flex;
    padding: 2px 10px;
}

.editSegmentResponse .segmentName {
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-color);
}


.JSONStringColumnClient.viewer {
    background-color: white;
    padding: 0 5px;
    margin: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    position: relative;
    font-family: var(--ff-mono);
    flex-direction: column;
}

.JSONStringColumnClient .toolbar {
    opacity: 35%;
}

.JSONStringColumnClient .toolbar:hover {
    opacity: 100%;
}

.adminLogJSONValue {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 
.JSONStringColumnClient .debugInspectorOpen {
    position: absolute;
    top: 0;
    right: 0;
} */

pre.serverStartInfo {
    color: #aaa;
}

.testResult.pass {
    color: green;
}


.testResult.fail {
    color: red;
}


.EventDateField.container {}


.EventDateField.container .RelativeIndicator {
    --chip-color: #aaa;
    /* background-color: var(--chip-color); */
    /* color: #777; */
    color: var(--chip-color);
    margin: 0 10px;
    padding: 0px 6px;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
    /* box-shadow: 0 0 5px var(--chip-color); */
}

.EventDateField.container.TBD .RelativeIndicator {
    display: none;
}

/* critical */
.EventDateField.container.Today .RelativeIndicator,
.EventDateField.container.HappeningNow .RelativeIndicator,
.EventDateField.container.Tomorrow .RelativeIndicator {
    --chip-color: #3c3;
    /* color: white; */
    font-size: 18px;
    /* font-weight: bold; */
    /* animation: glow 1s infinite; */
}

/* "soon!" */
.EventDateField.container.InDays .RelativeIndicator,
.EventDateField.container.NextWeek .RelativeIndicator {
    --chip-color: #f80;
    /* color: white; */
    font-size: 18px;
    /* font-weight: bold; */
    /* animation: glow 1s infinite; */
}

/* "future!" */
.EventDateField.container.InWeeks .RelativeIndicator,
.EventDateField.container.NextMonth .RelativeIndicator,
.EventDateField.container.InMonths .RelativeIndicator,
.EventDateField.container.InYears .RelativeIndicator {
    --chip-color: #88f;
    /* color: white; */
    font-size: 18px;
    /* font-weight: bold; */
}

/* canceled events back off */
.status_Cancelled .EventDateField.container .RelativeIndicator {
    --chip-color: #888;
}

/* canceled events back off */
.status_Cancelled.contentSection .smallInfoBox {
    font-weight: normal;
}

/* for dupe songs in the song list*/
.faded {
    opacity: 50%;
}

/* - custom css for db stuff --------------------------------- */
/* 
.userCssClass_director {
    border: 1px solid #00f;
    border-radius: 3px;
    padding: 0 10px;
} */

.userTagCssClass_director {
    border: 1px solid #00f;
    border-radius: 3px;
    padding: 0 10px;
}

.userTagCssClass_guest {
    /* color: green; */
    font-style: italic;
    font-weight: bold;
}

/* -  --------------------------------- */

table.activityVis {
    --dim: 30px;
    --yearWidth: 100px;
    --aggMonthHeight: 60px;
    font-family: var(--ff-mono);
    font-size: 14px;
}

table.activityVis th,
table.activityVis td {
    /* padding equal on both axes makes a better graph*/
    padding: 4px;
}

table.activityVis .cell {
    background-color: #080;
    cursor: pointer;
    width: var(--dim);
    height: var(--dim);
}

table.activityVis .cell.hasActivity {
    background-color: #080;
    cursor: pointer;
}

table.activityVis .cell .cellInner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff8; */
}

table.activityVis .cell.hasActivity:hover,
table.activityVis .cell.hasActivity.selected {
    outline: 2px solid blue;
}

/* YEAR TOTAL CELLS */
table.activityVis .yearTotalGraphTD {
    background-color: #fff;
    width: var(--yearWidth);
    height: var(--dim);
}

table.activityVis .yearTotalGraphWrap {
    display: flex;
    height: 100%;
}

table.activityVis .yearTotalFilledPart {
    --color: #f0f;
    --normValue: 0.0;
    background-color: var(--color);
    width: calc(var(--yearWidth) * var(--normValue));
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 12px;
}


table.activityVis tr.aggMonthRow td {
    background-color: #fff;
    height: var(--aggMonthHeight);
    width: var(--dim);
}

table.activityVis tr.aggMonthRow .aggMonthWrap {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
}

table.activityVis tr.aggMonthRow .totalFilledPart {
    --color: #f0f;
    --normValue: 0.0;
    background-color: var(--color);
    border-radius: 4px;
    height: calc(var(--aggMonthHeight) * var(--normValue));
    width: 12px;
    /*center text*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.actionButtonsRow {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px;
}


.actionButtonsRow>.freeButton {
    padding: 3px 13px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-left: 10px;
    background-color: #eee;
    white-space: nowrap;

    display: flex;
    align-items: center;
}

.actionButtonsRow>.freeButton.cancelButton {
    color: #444;
    background-color: #ddd;
    border: 1px solid #888;
}

.actionButtonsRow>.freeButton.saveProgressButton {
    color: #008;
    background-color: #0082;
    border: 1px solid #0084;
}

/* 
.actionButtonsRow>.freeButton.saveProgressButton.unchanged {
    opacity: 30%;
    filter: saturate(0);
} */

.actionButtonsRow>.freeButton.saveAndCloseButton {
    color: #080;
    background-color: #0801;
    border: 1px solid #0804;
}

.actionButtonsRow>.freeButton.saveProgressButton.unchanged,
.actionButtonsRow>.freeButton.saveAndCloseButton.unchanged {
    /* opacity: 30%;
    filter: saturate(0); */

    color: #aaa;
    background-color: transparent;
    border-color: transparent;
}


/* -  --------------------------------- */

.ownAttendanceComment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ownAttendanceComment .clickToAddComment {
    color: #ccc;
    font-style: italic;
}

.ownAttendanceComment.freeButton {
    text-decoration: none;
}

.ownAttendanceComment.freeButton:hover {
    text-decoration: none;
}

.SongHistoryInner {
    min-height: 600px;
}

.CMAnimatedCircularProgress {
    display: inline-flex;
    align-items: center;
    ;
}


.editCustomFieldsButtonContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}



.frontpageGalleryCaptionEditorContainer {
    border: 2px solid #ccc;
    background-color: #ffe;
    margin: 0;
    padding: 0 10px;
    border-radius: 5px;

}


i.placeholder {
    opacity: 50%;
    font-size: small;
}


/* https://loading.io/css/ */
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    /* change color here */
    color: var(--cm-blue);
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.ActivityLogKeyValueTable {
    font-family: var(--ff-mono);
}



.EventDetailFullAccordionArea .MuiAccordionSummary-content {
    /* the default content area is way too tall*/
    margin: 0;
}

.EventDetailFullAccordionArea .MuiAccordionSummary-root {
    background-color: #eee;
    min-height: 50px;
}

.EventAccordionSummaryTitle {
    display: flex;
    align-items: center;
    color: var(--cm-blue);
    opacity: 70%;
}

.EventAccordionSummaryTitle>* {
    margin-right: 10px;
}

.EventAccordionSummaryTitle .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

.EventAccordionSummaryTitle .subtitle {
    font-weight: normal;
    color: #888;
    font-size: 14px;

}


.EventDetailFullAccordionArea .Mui-expanded .MuiAccordionSummary-root {
    /* border: 2px solid black; */
    /* border-bottom: 0; */
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
    background-color: #ddf;
}

.EventDetailFullAccordionArea .Mui-expanded .MuiCollapse-root {
    border: 2px solid #ddf;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.EventDetailFullAccordionArea .Mui-expanded .EventAccordionSummaryTitle {
    color: black;
}


/* activity log workflow def graph viewer should be big.*/
.activityLogWorkflowGraphDialog>.MuiDialog-scrollPaper>.MuiPaper-root {
    max-width: 80vw;
    width: 1200px;
}


span.faded {
    font-style: italic;
    font-size: small;
    opacity: 30%;
}


table.TopAlignedCells td {
    vertical-align: top;
}

.dotMenuDots {
    width: 24px;
    border-radius: 4px;
    margin: 0 6px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.dotMenuDots:hover {
    background-color: #00f1;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

textarea {
    font-family: var(--ff-mono);
    border-radius: 4px;
    padding: 6px;
    resize: vertical;
    border: 1px solid #0001;
}


/* -  --------------------------------- */
.MainSiteSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.MainSiteSearch input {
    background-color: #fff2;
    color: #ccc;
    border-radius: 4px;
    padding: 8px 10px;
    width: 200px;
}

.MainSiteSearch svg {
    /* fill: #ede331; */
    fill: #fff5;
}

.MainSiteSearch .freeButton {
    opacity: 100%;
    display: flex;
}

nav a {
    display: flex;
    align-items: center;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}


.DateValue {
    white-space: nowrap;
    font-size: 11px;
    font-family: var(--ff-mono);
    letter-spacing: -.5px;
}

.iconIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    --icon-size: 30px;
    /* our color system is odd, but this is the best look for the moment.*/
    --color-background: #ddd;
    color: var(--color-background);
}

.iconIndicator svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.sectionHeader.expandable {
    cursor: pointer;
}

.sectionHeader .icon {
    opacity: 25%;
}


.eventChip.Cancelled {
    text-decoration: line-through;
}

/* setlist plan list item ... perhaps more in the future ?*/
.createdBy,
.createdBy * {
    display: flex;
    align-items: center;
    gap: 6px;
}