/*
test cases:
- long paragraph text in dialog descriptions
*/
.markdown.renderedContent {
    max-width: var(--content-max-width);
}

/* -  --------------------------------- */
.wikiPage .wikiNamespace {
    opacity: 50%;
}


.wikiPage .wikiTitle {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #8888;
}


.wikiPage .wikiTitle,
.wikiPage .wikiTitle a {
    color: var(--primary-color);
}


.wikiPage .wikiPageSpecialNamespaceSubtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    opacity: 50%;
}


.wikiPage .BasicNameValuePairContainer input.CMTextInputBase.wikiTitle {
    font-size: 40px;
}

.wikiPage:not(.standaloneEditor) .wikiContentContainer {
    margin-bottom: 60px;
}

.wikiPage .wikiPageFooterStats {
    border-top: 1px solid #8888;
    font-style: italic;
    color: #ddd;
    font-size: 12px;
}

.wikiPage .unknownPage {
    font-style: italic;
    color: #8088;
}

/*
    LINK types
    - externalLink (external website)              - class "externalLink"
    - API link (attachment from the local website) - class "internalAPILink"
    - internal page                                - class "internalPageLink"
    - cm object link
        - event                                    - class "wikiCMLink wikiEventLink"
        - song                                     - class "wikiCMLink wikiSongLink"
    - wiki page                                    - class "wikiCMLink wikiWikiLink"
*/


.markdown.renderedContent a.wikiWikiLink,
.markdown.renderedContent a.wikiEventLink,
.markdown.renderedContent a.wikiEventLink,
.markdown.renderedContent a {
    text-decoration: underline;
    color: #a0a;
    background-color: #a0a1;
    font-weight: bold;
}

.markdown.renderedContent a.externalLink {
    color: #4a4;
    background-color: #4a41;
}

.markdown.renderedContent a.internalAPILink,
.markdown.renderedContent a.internalPageLink {
    color: #55f;
    background-color: #55f1;
}




.markdown.renderedContent a.opensInNewTab::after {
    content: " \2197";
    font-size: 10px;
    margin-left: 2px;
}

.autoCompleteCMLinkItem {
    display: flex;
    padding: 5px;
}

.autoCompleteCMLinkItem:hover {
    outline: 1px solid #999;
}

.autoCompleteCMLinkItem.event {
    color: #808;

}

.autoCompleteCMLinkItem.song {
    color: green;

}

.autoCompleteCMLinkItem.instrument {
    color: #c80;

}

.autoCompleteCMLinkItem.wiki {
    color: #c80;

}

.autoCompleteCMLinkItem.selected {
    background-color: #ddf;
    outline: 2px solid black;
}



/* -  --------------------------------- */
.settingMarkdownContainer {
    max-width: var(--content-max-width);
}

.settingMarkdownContainer.editable {
    border: 1px solid #0002;
    border-radius: 5px;
}

.MD3Container.editor {
    --radius: 5px;
    border: 1px solid #ddd;
    border-radius: var(--radius);
    max-width: var(--content-max-width);
    background-color: #eee;
}

.MD3Container.editor .header {
    /* background-color: #eee; */
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    flex-direction: column;
    padding: 6px;
    user-select: none;
}

.MD3Container.editor .tab {
    border-radius: var(--radius);
    padding: 3px 13px;
    font-size: 15px;
    font-weight: normal;
    white-space: nowrap;

    border: 1px solid #ddd;
}

.MD3Container.editor .tab.selected {
    background-color: white;
    border: 1px solid #888;
}

.MD3Container.editor .toolbar {
    --divider-size: 15px;
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.MD3Container.editor .toolbar .toolItemGroupList {
    display: flex;
    flex-wrap: wrap;
}

.MD3Container.editor .toolbar .toolItemGroup {
    display: flex;
    margin-right: calc(2 * var(--divider-size));
}

.MD3Container.editor .toolbar .toolItem {
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    opacity: 20%;
}

.MD3Container.editor .toolbar .toolItem.interactable {
    cursor: pointer;
    opacity: 100%;
}

.MD3Container.editor .toolbar .toolItem svg,
.MD3Container.editor .toolbar .toolItem .svg-like {
    --foreground-color: #888;
    fill: var(--foreground-color);
    color: var(--foreground-color);
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MD3Container.editor .toolbar .toolItem.interactable:hover {
    background-color: #ddd;
}

.MD3Container.editor .toolbar .toolItem:hover svg {
    fill: #00f;
}

.markdown-class-character-size .small {
    font-size: 10px;
}

.markdown-class-character-size .big {
    font-size: 20px;
}

.MD3Container.editor .editorContainer {
    /* background-color: #eee; */
}

.MD3Container.editor .toolbar .divider {
    margin-left: var(--divider-size);
    margin-right: var(--divider-size);
    border-left: 1px solid #c7c7c7;
    height: 50%;
}


.MD3Container.editor textarea {
    border-radius: var(--radius);
    padding: 10px;
    resize: vertical;
    min-height: 80px;
    /* with a lot of stuff on the screen this helps to show this a live editing field. */
    border-color: #88f;
    outline-color: #88f;
}

.MD3Container.editor .previewContainer .previewTitle {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 40%;
    /* background-color: #eee; */
    padding: 6px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.MD3Container.editor .fileDropWrapper {
    border: 0;
}

.MD3Container.editor .previewContainer .previewMarkdownContainer {
    min-height: 70px;
    padding: 7px;
    background-color: white;
    /* for the hatch pattern */
    --color-background: #ddd;
}

.MD3Container.editor .previewContainer .previewMarkdownContainer .markdown {
    padding: 8px;
    background-color: white;
}

.markdown blockquote {
    padding: 0 1em;
    color: #636c76;
    border-left: .25em solid #d0d7de;
}

.markdown-enclosed-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--foreground-color);
    font-weight: bold;
    font-family: serif;
    border-radius: 3px;
}

.markdown .markdown-class-enclosed {
    border: 1px solid black;
    padding: 3px;
    font-size: 20px;
    font-family: serif;
    line-height: 17px;
    display: inline-flex;
    margin: 0 2px;
    min-width: 24px;
    justify-content: center;
}

.markdown .markdown-class-smaller {
    font-size: 10px;
}

.markdown .markdown-class-small {
    font-size: 13px;
}

.markdown .markdown-class-big {
    font-size: 24px;
}

.markdown .markdown-class-bigger {
    font-size: 30px;
}

.markdown .markdown-class-highlight {
    background-color: #fe0a;
    padding: 3px 5px;
}

.markdown .markdown-class-highlightred {
    background-color: #f008;
    padding: 3px 5px;
}


.markdown .markdown-class-highlightgreen {
    background-color: #0f0a;
    padding: 3px 5px;
}


.markdown .markdown-class-highlightblue {
    background-color: #00f6;
    padding: 3px 5px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    color: var(--primary-color)
}


.MD3Container.editor .formattingTipsRow {
    gap: 10px;
    margin-top: 4px;
    border-top: 1px solid #ddd;
}

.MD3Container.editor .formattingTipsRow svg {
    opacity: 20%;
}

.MD3Container.editor .formattingTipsRow .freeButton {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    white-space: nowrap;
}

.MD3Container.editor .formattingTipsRow .freeButton.selected {
    background-color: white;
    border: 1px solid #888;
}

.MD3Container.editor .formattingTipsContentRow {
    background-color: white;
    padding: 8px;
}

.MD3Container.editor .formattingTipsContentRow dl {
    margin: 0;
}


.MD3Container.editor .formattingTipsContentRow dt {
    margin: 0;
}

.MD3Container.editor .formattingTipsContentRow dd {
    padding: 0;
    margin-bottom: 10px;
}

.MD3Container.editor .formattingTipsContentRow pre {
    padding: 0;
    margin: 0;
    font-family: var(--ff-mono);
}

.MD3Container.editor .formattingTipsContentRow .highlight {
    font-weight: bold;
}


.wikiPage .header {
    display: flex;
}

.wikiPage.floatingHeader .header {
    background-color: transparent;
    float: right;
}

.announcementMarkdown.wikiPage {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.MarkdownLockIndicator,
.MarkdownLockIndicator>* {
    display: flex;
    align-items: center;
    opacity: 80%;
}

.MarkdownLockIndicator.notLocked {
    color: black;
}

.MarkdownLockIndicator.revisionConflict {
    color: red;
}

.MarkdownLockIndicator.lockedByDifferentContext {
    color: red;
}

.MarkdownLockIndicator.lockedInThisContext {
    color: green;
}

/* -  --------------------------------- */
.wikiRevisionHistoryPage tr.revisionItem {}

.wikiRevisionHistoryPage .revisionItem.selected {
    --selection-color: #ddd;
    background-color: var(--selection-color);
}

.wikiRevisionHistoryPage .revisionItem.selectedB {
    --selection-color: #dfd;
}

.wikiRevisionHistoryPage .revisionItem.selectedA {
    --selection-color: #fdd;
}

.wikiRevisionHistoryPage .changeStatsRow {
    font-family: var(--ff-mono);
}

.wikiRevisionHistoryPage .changeStatsRow .added {
    background-color: white;
    padding: 4px;
    color: #4c4;
}

.wikiRevisionHistoryPage .changeStatsRow .removed {
    background-color: white;
    padding: 4px;
    color: #f99;
}