/*
test cases:
- long paragraph text in dialog descriptions
*/
.markdown.renderedContent {
    max-width: var(--content-max-width);
}

/* -  --------------------------------- */
.wikiPage .wikiTitle {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #8888;
}

.wikiPage .BasicNameValuePairContainer input.CMTextInputBase.wikiTitle {
    font-size: 40px;
}

.wikiPage .wikiContentContainer {
    margin-bottom: 60px;
}

.wikiPage .wikiPageFooterStats {
    border-top: 1px solid #8888;
    font-style: italic;
    color: #ddd;
    font-size: 12px;
}

.wikiPage .unknownPage {
    font-style: italic;
    color: #8088;
}

/*
    LINK types
    - externalLink (external website)              - class "externalLink"
    - API link (attachment from the local website) - class "internalAPILink"
    - internal page                                - class "internalPageLink"
    - cm object link
        - event                                    - class "wikiCMLink wikiEventLink"
        - song                                     - class "wikiCMLink wikiSongLink"
    - wiki page                                    - class "wikiCMLink wikiWikiLink"
*/


.markdown.renderedContent a.wikiWikiLink,
.markdown.renderedContent a.wikiEventLink,
.markdown.renderedContent a.wikiEventLink,
.markdown.renderedContent a {
    text-decoration: underline;
    color: #a0a;
    background-color: #a0a1;
    font-weight: bold;
}

.markdown.renderedContent a.externalLink {
    color: #4a4;
    background-color: #4a41;
}

.markdown.renderedContent a.internalAPILink,
.markdown.renderedContent a.internalPageLink {
    color: #55f;
    background-color: #55f1;
}




.markdown.renderedContent a.opensInNewTab::after {
    content: " \2197";
    font-size: 10px;
    margin-left: 2px;
}

.autoCompleteCMLinkItem {
    padding: 5px;
}

.autoCompleteCMLinkItem.event {
    color: #808;

}

.autoCompleteCMLinkItem.song {
    color: green;

}

.autoCompleteCMLinkItem.instrument {
    color: #c80;

}

.autoCompleteCMLinkItem.wiki {
    color: #c80;

}

.autoCompleteCMLinkItem.selected {
    background-color: #ddf;
    outline: 2px solid black;
}



/* -  --------------------------------- */
.settingMarkdownContainer {
    max-width: var(--content-max-width);
}

.settingMarkdownContainer.editable {
    border: 1px solid #0002;
    border-radius: 5px;
}

.MD3Container.editor {
    --radius: 8px;
    border: 1px solid #ddd;
    border-radius: var(--radius);
    max-width: var(--content-max-width);
}

.MD3Container.editor .header {
    background-color: #eee;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    padding-left: 4px;
    padding-right: 10px;
    justify-content: space-between;
}

.MD3Container.editor .tabs {
    display: flex;
}

.MD3Container.editor .tabs .tab {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: 3px 13px;
    font-size: 15px;
    font-weight: normal;
}

.MD3Container.editor .tabs .tab.selected {
    background-color: white;
}

.MD3Container.editor .toolbar {
    display: flex;
    align-items: center;
}

.MD3Container.editor .toolbar .toolItem {
    padding: 4px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.MD3Container.editor .toolbar .toolItem svg {
    fill: #888;
    width: 18px;
    height: 18px;
}

.MD3Container.editor .toolbar .toolItem:hover {
    background-color: #ddd;
}

.MD3Container.editor .toolbar .toolItem:hover svg {
    fill: #00f;
}

.MD3Container.editor .toolbar .divider {
    margin-left: 5px;
    margin-right: 5px;
    border-left: 1px solid #c7c7c7;
    height: 50%;
}


.MD3Container.editor textarea {
    border-radius: var(--radius);
    padding: 10px;
    resize: vertical;
}

.MD3Container.editor .previewContainer {
    padding: 10px;
    background-color: white;
}

.markdown blockquote {
    padding: 0 1em;
    color: #636c76;
    border-left: .25em solid #d0d7de;
}

.markdown .markdown-class-enclosed {
    border: 1px solid black;
    padding: 3px;
    font-size: 20px;
    font-family: serif;
    line-height: 17px;
    display: inline-flex;
    margin: 0 2px;
}

.markdown .markdown-class-big {
    font-size: 20px;
}


.markdown .markdown-class-bigger {
    font-size: 30px;
}

.markdown .markdown-class-highlight {
    background-color: #fe0a;
    padding: 3px 5px;
}

.markdown .markdown-class-highlightred {
    background-color: #f008;
    padding: 3px 5px;
}


.markdown .markdown-class-highlightgreen {
    background-color: #0f0a;
    padding: 3px 5px;
}


.markdown .markdown-class-highlightblue {
    background-color: #00f6;
    padding: 3px 5px;
}