.colorSwatchRoot {
    --strong-color: transparent;
    --strong-contrast-color: black;
    --strong-border-color: black;
    --weak-color: #888;
    --weak-contrast-color: #ccc;
    --weak-border-color: #ccc;
    --weak-border-style: solid;
    --strong-border-style: solid;

    display: flex;
    flex-direction: column;
    padding: 3px 4px;
    width: 90px;
    height: 70px;
    overflow: hidden;
    text-align: center;
    /* selection obscures the color*/
    user-select: none;
}

/* generic color application */
.applyColor-strong {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
    border: 1px var(--strong-border-style) var(--strong-contrast-color);
}

/* for button groups (attendance control) border stuff gets unsightly */
.applyColor-strong-noBorder {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
}

/* for button groups (attendance control) border stuff gets unsightly */
.applyColor-strong-noBorder.notSelected {
    background-color: white;
    color: var(--weak-contrast-color);
}

.applyColor-weak {
    background-color: var(--weak-color);
    color: var(--weak-contrast-color);
    border: 1px var(--weak-border-style) var(--weak-contrast-color);
}

/* for text-only (no background) rendering */
.applyColor-inv {
    color: var(--strong-color);
    /* text-shadow: var(--weak-contrast-color) 0 1px 1px; */
    /* text-shadow: var(--strong-contrast-color) 0 1px 1px; */
}

/* 
// strong / weak
// selected / notselected
// disabled / enabled
// hover
// focus */

.applyColor-strong-notselected-enabled,
.applyColor-weak-notselected-enabled {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
    /* border: 1px var(--strong-border-style) var(--strong-contrast-color); */
}

.applyColor-strong-notselected-disabled,
.applyColor-weak-notselected-disabled {
    background-color: var(--weak-color);
    color: var(--weak-contrast-color);
    /* border: 1px var(--weak-border-style) var(--weak-contrast-color); */
}

.applyColor-strong-selected-enabled,
.applyColor-weak-selected-enabled {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
    /* border: 1px solid var(--strong-contrast-color); */
    box-shadow: inset 0 0 4px var(--strong-contrast-color);
}

.applyColor-strong-selected-disabled,
.applyColor-weak-selected-disabled {
    background-color: var(--weak-color);
    color: var(--weak-contrast-color);
    /* border: 1px solid var(--weak-contrast-color); */
    box-shadow: inset 0 0 4px var(--weak-contrast-color);
}


.applyColor-strong-notselected-enabled:hover,
.applyColor-weak-notselected-enabled:hover {
    box-shadow: inset 0 0 6px var(--strong-contrast-color);
}

.applyColor-strong-notselected-disabled:hover,
.applyColor-weak-notselected-disabled:hover {
    box-shadow: inset 0 0 6px var(--weak-contrast-color);
}

.applyColor-strong-selected-enabled:hover,
.applyColor-weak-selected-enabled:hover {
    box-shadow: inset 0 0 6px var(--strong-contrast-color);
}

.applyColor-strong-selected-disabled:hover,
.applyColor-weak-selected-disabled:hover {
    box-shadow: inset 0 0 6px var(--weak-contrast-color);
}



.colorSwatchRoot:hover {
    background-color: #0004;
    user-select: none;
    cursor: pointer;
}

.colorSwatchRoot>* {
    border-radius: 0px;
    /* height: 50%; */
    flex-grow: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorSwatchRoot>*:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.colorSwatchRoot>*:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.colorSwatchRoot .strong {
    background-color: var(--strong-color);
    color: var(--strong-contrast-color);
    border: 1px var(--strong-border-style) var(--strong-contrast-color);
}

.colorSwatchRoot .weak {
    background-color: var(--weak-color);
    color: var(--weak-contrast-color);
    border: 1px var(--weak-border-style) var(--weak-contrast-color);
}

.colorSwatchRoot.spacer {
    opacity: 0;
}

.colorPaletteGridRoot .row {
    display: flex;
}

.paletteeditor li {
    display: flex;
}

.paletteeditor .controlRow {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
}

.paletteeditor .caption {
    width: 120px;
    text-align: right;
    font-size: 12px;
}

.paletteeditor .MuiButton-root {
    border: 1px solid #8888;
    padding: 0;
    min-width: 40px;
}

.paletteeditor .MuiButton-root.selected {
    border: 2px solid #f00;
}

.paletteGenRoot {}

.paletteGenRoot>.controlSection {
    border: 2px solid #0008;
    margin: 8px 0;
    display: flex;

}

.paletteGenRoot>.controlSection>.caption {
    background-color: #0002;
    font-size: 18px;
    width: min-content;
}

.colorPaletteListRoot {
    --background-color: white;
    background-color: var(--background-color);
}

.colorPaletteListRoot .buttonGroup {
    display: flex;
}

.colorPaletteListRoot .smallButton {
    cursor: pointer;
    /* selection obscures the color*/
    user-select: none;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #ccc8;
    margin: 2px 5px;
}


.colorPaletteListRoot .smallButton:hover {
    background-color: #ccc;
}