/* @import url(https://db.onlinewebfonts.com/c/1cf07fdc01da97ba3a1410d18951d28f?family=DIN+1451+Std); */

/* also see frontpage.css which contains some more styling for frontpage (that's used by the backstage) */

.nowrap {
    white-space: nowrap;
    vertical-align: top;
}

body,
html {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--cm-yellow);
}

@media only screen and (orientation: portrait) {
    :root {
        --z-index-gallery: 180;
        --z-index-chrome: 200;
        --z-index-agenda-back: 50;
        --z-index-agenda-front: 100;
    }
}

/* ---- whole page layout stuff --------------------------------------------------------------*/
#__next {
    /* this is the whole page */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}